@using FactoryManagement.Helpers
@model IEnumerable<FactoryManagement.Models.View_DisItemReturnDetails>
@{ int count = 0;}
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>SL.</th>
            <th>Voucher name</th>
            <th>Transaction Name</th>
            <th>Product name</th>
            <th>Machine</th>
            <th>Returned Quantity</th>
            <th>Accepted Quantity</th>
            <th>Return Date</th>
            <th>Return By</th>
            <th>Accept Date</th>
            <th>Accepted By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.VoucherName</td>
                <td>@item.ReturnTransactionName</td>
                <td>
                    @item.ProductName
                   
                </td>
                <td>@Html.EncodedActionLink(item.ReturnFrom,"MachineDetails","Inventory",new {machineId=item.MachineId },null)</td>
                <td>@item.Quantity</td>
                <td>@item.ReturnQuantity</td>
                <td>@item.ReturnDateName</td>
                <td>@item.ReturnUserName</td>
                <td>@item.AcceptDate</td>
                <td>@item.AcceptBUserName</td>
                <td><a href="/Inventory/AcceptLogPrint?id=@item.Id" target="_blank"><i class="fa fa-print" data-toggle="tooltip" title="Print"></i></a></td>
            </tr>
        }
    </tbody>
</table>
