@******************************** Created By Mabia Mishu (Date:28.09.2016) *********************************@
@using FactoryManagement.Helpers
@model IEnumerable<FactoryManagement.Models.Site_Unit_Lists>
@{
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
    var count = 1;
}
@*<p><span class="btn green" data-toggle="tooltip" title="Add New Unit" id="btn_Add_Unit"><i class="fa fa-plus"></i> Add New Unit</span></p>*@

<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-ul font-green"></i>
            <span class="caption-subject font-green bold uppercase">Unit List</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="tbl_unit_list">
                <tr>
                    <th width="5%">#</th>
                    <th width="20%">Unit Name</th>
                    <th width="10%">Unit Acryonm</th>
                    <th width="5%">Status</th>
                    <th width="15%">Created By</th>
                    <th width="10%">Created Date</th>
                    <th width="12%">Last Updated By</th>
                    <th width="10%">Last Updated Date</th>
                    <th width="13%"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@count.</th>
                        <td>
                            <a class="linkForUnitDetails" data-id="@item.UnitId" style="cursor:pointer">
                                @Html.DisplayFor(modelItem => item.UnitName)
                            </a>
                        </td>
                        <td>
                            <a class="linkForUnitDetails" data-id="@item.UnitId">
                                @Html.DisplayFor(modelItem => item.UnitAcryonm)
                            </a>
                        </td>
                        <td>
                            @if (item.UnitStatus == 1)
                            { <span>Active</span>}
                            else
                            { <span>Inactive</span>}
                        </td>
                        <td>
                            @if (item.CreatedBy > 0)
                            {
                                var user = db.View_UserLists.Where(m => m.UserType == 1 && m.UserId == item.CreatedBy).FirstOrDefault();
                                <img src="~/Images/UserPicture/thumb/@user.Picture" class="img-circle" />
                                <a href="@Html.EncodedParam("DisplayEmployeeDetails", "HumanResource", new { UserId = item.CreatedBy, isDisplay = true }, null)"><span>@user.UserName</span></a>

                            }
                            else
                            {
                                <img src="~/Images/UserPicture/thumb/admin.jpg" class="img-circle" />
                                <span> Super Admin</span>
                            }
                        </td>
                        <td>@Convert.ToDateTime(item.CreatedDate).ToString("MMM dd,yyyy")</td>
                        <td>
                            @if (item.UpdatedBy != null)
                            {
                                if (item.UpdatedBy > 0)
                                {
                                    var user = db.View_UserLists.Where(m => m.UserType == 1 && m.UserId == item.UpdatedBy).FirstOrDefault();
                                    <img src="~/Images/UserPicture/thumb/@user.Picture" class="img-circle" />
                                    <a href="@Html.EncodedParam("DisplayEmployeeDetails", "HumanResource", new { UserId = item.UpdatedBy, isDisplay = true }, null)"><span>@user.UserName</span></a>
                                }
                                else
                                {
                                    <img src="~/Images/UserPicture/thumb/admin.jpg" class="img-circle" />
                                    <span> Super Admin</span>
                                }
                            }
                            else
                            {
                                <span>Not yet updated</span>
                            }
                        </td>
                        <td>
                            @if (item.UpdatedBy != null)
                            {
                                @Convert.ToDateTime(item.UpdatedDate).ToString("MMM dd,yyyy")
                            }
                            else
                            {
                                <span>Not yet updated</span>
                            }
                        </td>
                        <td>
                            <span class="btn green linkForEditUnit" data-toggle="tooltip" title="Edit Unit" data-id="@item.UnitId"><i class="fa fa-pencil"></i></span>
                            <span class="btn btn-danger btn_unit_delete" data-toggle="tooltip" title="Delete Unit" data-unitid="@item.UnitId" data-status="@item.UnitStatus" data-uname="@item.UnitName"><i class="fa fa-trash"></i></span>
                            <span class="btn blue linkForDeptCreate" data-toggle="tooltip" title="Add Department" data-unitid="@item.UnitId" data-uname="@item.UnitName"><i class="fa fa-plus"></i></span>
                        </td>
                    </tr>
                            count++;
                }
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        if (canDisplay == 'True') {
            $(".linkForEditUnit").hide();
            $(".linkForDeptCreate").hide();
            $(".btn_unit_delete").hide();
        }
    });
    $(".linkForUnitDetails").click(function () {
        var Unitid = $(this).data("id");
        @*location.href = '@Url.Action("ShowUnitWithDeptList", "Configuration")?unitId=' + Unitid + '&IsDisplay=' + canDisplay + '&display=true';*@
        location.href = "/Configuration/ShowUnitWithDeptList?q=" + getDataEncrypted("unitId=" + Unitid + "?IsDisplay=" + canDisplay + "?display=true");
    });
    $(".linkForEditUnit").click(function () {
        var Unitid = $(this).data("id");
        @*location.href = '@Url.Action("ShowUnitWithDeptList", "Configuration")?unitId=' + Unitid + '&IsDisplay=' + canDisplay + '&display=false';*@
        location.href = "/Configuration/ShowUnitWithDeptList?q=" + getDataEncrypted("unitId=" + Unitid + "?IsDisplay=" + canDisplay + "?display=false");
    });
</script>
