



@************************ Created By Jerin Jahan Date(07.12.2016) *******************************@

@using FactoryManagement.Helpers;
@model IEnumerable<FactoryManagement.ModelView.Inventory.Store.DispatchedItemListModelView>
@{
    int count = 1;
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}
@if (Model.Count() > 0)
{
    <table class="table table-hover table-bordered table-striped table-condensed" id="tbl_Dis_His">
        <tr>
            <th width="3%">#</th>
            <th width="10%">Name</th>
            <th width="10%">Quantity</th>
            @if (ViewBag.type == 1)
            {
                <th width="25%">Routed To</th>
                <th width="20%">Routed By</th>
                <th width="32%">Received By</th>
            }
            else
            {
                <th width="25%">Assigned With</th>
                <th width="20%">Dispatched By</th>
                <th width="32%">Received By</th>
            }
        </tr>
        @foreach (var list in Model)
        {
            <tr>
                <th>@count.</th>
                <td>
                @if (ViewBag.type == 1)
                {
                    <a href="@Html.EncodedParam("RoutedHistoryDetails", "StoreProduct", new { id = list.DispatchedId }, null)" target="_blank">@list.Dispatchedname</a>
                }
                else
                {
                    <a href="@Html.EncodedParam("DispatchHistoryDetails", "StoreProduct", new { id = list.DispatchedId }, null)" target="_blank" >@list.Dispatchedname</a>
                }
               
                </td>
                <td>@list.Quantity @list.Unitname</td>
                <td>
                    @if (ViewBag.type == 1)
                    {
                        if (list.WareId > 0)
                        {
                            <span>Warehouse : @list.Warename</span>
                        }
                        else
                        {
                            <span>Store name : @list.Storename</span>
                        }
                    }
                    else
                    {
                        if (list.OrderId > 0)
                        {
                            <span>Order name : @list.Ordername</span>
                        }
                        if (list.DeptId > 0)
                        {
                            <span>Dept. name : @list.DeptName</span>
                        }
                        else
                        {
                            <span>Machine name : @list.Machinename</span>
                        }
                    }
                </td>
                <td><span><img class="img-circle" src="/Images/UserPicture/thumb/@list.DispatchedUserPic">@list.DispatchedUserName</span></td>
                <td>
                    @if (ViewBag.type == 1)
                    {
                        if (list.WareId > 0)
                        {
                            if (db.DispatchedItemAssignUsers.Where(m => m.WareId == list.WareId && m.DispatchItemId == list.Id).Any())
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.WareId == list.WareId && d.DispatchItemId == list.Id
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }
                            else
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.DispatchId == list.DispatchedId
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }
                        }
                        else
                        {
                            if (db.DispatchedItemAssignUsers.Where(m => m.StoreId == list.StoreId && m.DispatchItemId == list.Id).Any())
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.StoreId == list.StoreId && d.DispatchItemId == list.Id
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }
                            else
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.DispatchId == list.DispatchedId
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }
                        }

                    }
                    else
                    {
                        if (list.DeptId > 0)
                        {
                            if (db.DispatchedItemAssignUsers.Where(m => m.DeptId == list.DeptId && m.DispatchItemId == list.Id).Any())
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.DeptId == list.DeptId && d.DispatchItemId == list.Id
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }
                            else
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.DispatchId == list.DispatchedId
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }

                        }
                        else if (list.MachineId > 0)
                        {
                            if (db.DispatchedItemAssignUsers.Where(m => m.MachineId == list.MachineId && m.DispatchItemId == list.Id).Any())
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.MachineId == list.MachineId && d.DispatchItemId == list.Id
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }
                            else
                            {
                                var userList = (from d in db.DispatchedItemAssignUsers
                                                join v in db.View_UserLists on d.UserId equals v.UserId
                                                where d.DispatchId == list.DispatchedId
                                                select new
                                                {
                                                    username = v.UserName,
                                                    userpic = v.Picture,
                                                    userid = v.UserId
                                                }).ToList();
                                foreach (var u in userList)
                                {
                                    <p><img class="user-photo" src="/Images/UserPicture/thumb/@u.userpic">@u.username</p>
                                }
                            }

                        }
                    }
                </td>
            </tr>
                    count++;
        }
    </table>
}
else
{
    <center><label>Not yet dispatched</label></center>
}
