@**************************** Created By Jerin Jahan (Date:15.06.2017) *****************************************@
@{
    ViewBag.Title = "Inventory Product Lists";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}
<style>
    #categoryList li {
        margin-top: 0px;
        height: 30px;
        padding: 0px;
        width: 100%;
        border: 1px solid blue;
    }

        #categoryList li a {
            text-decoration: none;
            cursor: pointer;
            color: black;
            font-weight: bold;
        }

    .selected {
        background-color: orange;
    }

    #divForCategory .treeView {
        padding: 10px 0px 10px 10px;
        border: 1px solid #e6e6e6;
        background-color: #f5f5f5;
        border-radius: 3px;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-basket"></i>
            <a href="/StoreProduct/Store">Store</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <a href="/StoreProduct/AllInvntProListForLcDetails">Inventory All Item Lists</a>
        </li>
    </ul>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="fa fa-list-ul font-green"></i>
            <span class="caption-subject green bold uppercase">Inventory Item Lists</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div id="divForCategory" class="col-xs-12 col-sm-3 col-md-3">
                <div id="tv_Ware_Pro_List" class="treeView"></div>
            </div>
            <div id="div_for_list" class="col-xs-12 col-sm-9 col-md-9">
                <div id="Div_Inven_List">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list-ul"></i>
                                <span id="invent_Title">All Inventory Item Lists</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="search_bar">
                                    @(Html.Kendo().MultiSelect()
                                      .AutoClose(false)
                                      .Name("ProductLists")
                                      .DataTextField("ProNameWithLc")
                                      .DataValueField("LocationId")
                                      .Placeholder("Start typing item name")
                                      .AutoBind(false)
                                      .Events(e => e.Change("onProductChange"))
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetAllProductNames", "StoreProduct").Data("additionalInfo");
                                          })
                                          .ServerFiltering(false);
                                      }))
                                    <span class="k-icon k-i-search" style="margin-top:-25px;float:right;margin-right:10px">&nbsp;</span>
                               
                            </div>
                        </div>
                        <div class="portlet-body" id="table_data_height" style="overflow-y: scroll;">
                            <div class="panel with-nav-tabs panel-default">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs">
                                        <li class="active" id="liForAll"><a href="#tab1All" data-toggle="tab">All</a></li>
                                        <li id="liForMaster"><a href="#tab2Master" data-toggle="tab">Master Wise</a></li>
                                        <li id="liForLC"><a href="#tab3LC" data-toggle="tab">L/C Wise</a></li>
                                    </ul>
                                </div>
                                <div class="panel-body" style="border:none!important;" id="div_for_panel_body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab1All">
                                            <div style="display:none;" id="inventoy_product_list_div"></div>
                                            @if (db.View_Inven_Dis_Voucher_List.Any())
                                            {
                                                <script>
                                                    $("#inventoy_product_list_div").empty();
                                                    $("#inventoy_product_list_div").append('<div class="loading_partial"></div>');
                                                    $("#inventoy_product_list_div").show();
                                                    $("#inventoy_product_list_div").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")?productTypeId=0&page=2');
                                                </script>
                                            }
                                            else
                                            {
                                                <script>
                                                    $("#inventoy_product_list_div").append(' <h3>There is no record to display...</h3>');
                                                    $("#inventoy_product_list_div").show();
                                                </script>
                                            }
                                        </div>
                                        <div class="tab-pane fade in active" id="tab2Master">
                                            <div id="inventoy_product_list_div_master" style="display:none;"></div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3LC">
                                            <div id="inventoy_product_list_div_lc" style="display:none;"></div>
                                        </div>
                                    </div>
                                    <div id="loading" style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="win_import_His"></div>
<div id="win_lc_details"></div>
<div id="win_Dis_His"></div>
<div id="win_Route_His"></div>
<script id="temp_tv_Ware_Pro_List" type="text/kendo-ui-template">
    #if(item.id.split('-')[1] === 'c'){#
    <label style="cursor:pointer;color:grey;font-weight:normal;width: 100%;"
           class="lblTreeViewProType child"
           data-id="#:item.id#"
           data-text="#: item.text #">#: item.text # (#:item.Count#)</label>
    #}else {#
    <label style="cursor:pointer;color:black;font-weight:bold;width: 100%;"
           class="lblTreeViewProType parent"
           data-id=" #:item.id#"
           data-text="#: item.text #">#: item.text #<span class='right-count'></span></label>
    #}#
</script>
<script>

    var AllId;
    var showCount = 0, totalCount = 0, inCallback = false; var tab = 1;
    var page = 0;
    $(document).ready(function () {
        $("#liForInventory").addClass('active');
        var url = '/StoreProduct/ProductCategoryAll?userId=' + userId + '&roleId=' + roleId;
        $.getJSON(url, function (data) {
            $("#tv_Ware_Pro_List").kendoTreeView({
                dataSource: data,
                template: kendo.template($("#temp_tv_Ware_Pro_List").html()),
            }).data("kendoTreeView");
        });
        $("#tv_Ware_Pro_List").height($(window).height() - 305);
        $("#table_data_height").height($(window).height() - 350);
        $(window).resize(function () {
            $("#tv_Ware_Pro_List").height($(window).height() - 305);
            $("#table_data_height").height($(window).height() - 350);
        });
    });
    function additionalInfo() {
        return {
            tab: tab
        }
    }
    //********** Left Side Item Category Select *****************
    $("#tv_Ware_Pro_List").on("click", ".lblTreeViewProType", function (e) {
        e.preventDefault();
        page = 0;
        var proId = 0, name = "";
        $("#inventoy_product_list_div").empty();
        $("#inventoy_product_list_div").append('<div class="loading_partial"></div>');
        if ($(this).data("id") == 0) {
            name = "";
            proId = 0;
        }
        else {
            name = $(this).data("text");
            proId = $(this).data("id").split('-')[0];
        }
        sendData = { productTypeId: proId, page: 2, name: name, tab: tab };
        proId == 0 ? $("#invent_Title").text("All " + name + " Item Lists") : $("#invent_Title").text("All " + name + "'s Item Lists");
        var tabLoad = "";
        tabLoad = tab == 1 ? "" : tab == 2 ? "_master" : "_lc";
        $("#inventoy_product_list_div" + tabLoad).load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', sendData);
        $("#ProductLists").data("kendoMultiSelect").value([]);
        $('#ProductLists').data('kendoMultiSelect').dataSource.read();
    });

    $("#categoryList").on('click', 'li', function () {
        page = 0;
        var id = $(this).data("id");
        $("#categoryList").find('li').each(function () {
            if ($(this).hasClass("k-in k-state-selected")) {
                $(this).removeClass("k-in k-state-selected")
            }
        });
        $(this).addClass("k-in k-state-selected");
        $("#inventoy_product_list_div").empty();
        $("#inventoy_product_list_div").append('<div class="loading_partial"></div>');
        $("#inventoy_product_list_div").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")?productTypeId=' + id + '&page=2');
        $("#ProductLists").data("kendoMultiSelect").value([]);
        $('#ProductLists').data('kendoMultiSelect').dataSource.read();
    });
    $("#liForAll").click(function () {
        $(".k-state-selected").removeClass('k-state-selected');
        page = 0, tab = 1;
        var passdata = "";
        passdata = { page: 2 };
        $("#invent_Title").text("All Inventory Item Lists");
        $("#inventoy_product_list_div").empty();
        //$("#inventoy_product_list_div_master").empty();
        //$("#inventoy_product_list_div_lc").empty();
        $("#inventoy_product_list_div").append('<div class="loading_partial"></div>');
        $("#inventoy_product_list_div").show();
        $("#inventoy_product_list_div").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', passdata);
        $("#ProductLists").data("kendoMultiSelect").value([]);
        $('#ProductLists').data('kendoMultiSelect').dataSource.read();
    });
    $("#liForMaster").click(function () {
        $(".k-state-selected").removeClass('k-state-selected');
        page = 0, tab = 2;
        var passdata = "";
        passdata = { page: 2, tab: 2 };
        $("#invent_Title").text("All Master Item Lists");
        //$("#inventoy_product_list_div").empty();
        //$("#inventoy_product_list_div_lc").empty();
        $("#inventoy_product_list_div_master").empty();
        $("#inventoy_product_list_div_master").append('<div class="loading_partial"></div>');
        $("#inventoy_product_list_div_master").show();
        $("#inventoy_product_list_div_master").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', passdata);
        $("#ProductLists").data("kendoMultiSelect").value([]);
        $('#ProductLists').data('kendoMultiSelect').dataSource.read();
    });
    $("#liForLC").click(function () {
        $(".k-state-selected").removeClass('k-state-selected');
        page = 0, tab = 3;
        var passdata = "";
        passdata = { page: 2, tab: 3 };
        $("#invent_Title").text("All L/C Item Lists");
        //$("#inventoy_product_list_div").empty();
        //$("#inventoy_product_list_div_master").empty();
        $("#inventoy_product_list_div_lc").empty();
        $("#inventoy_product_list_div_lc").append('<div class="loading_partial"></div>');
        $("#inventoy_product_list_div_lc").show();
        $("#inventoy_product_list_div_lc").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', passdata);
        $("#ProductLists").data("kendoMultiSelect").value([]);
        $('#ProductLists').data('kendoMultiSelect').dataSource.read();
    });
    $("#table_data_height").scroll(function () {
        var countBytype, result;
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
            if (parseInt(showCount) < parseInt(totalCount)) {
                if (page > -1 && !inCallback) {
                    inCallback = false;
                    page++;
                    $("div#loading").show();
                    loadMoreData(page);
                }
            }
        }
    });

    function loadMoreData(page) {
        $.ajax({
            type: 'GET',
            url: '/StoreProduct/getProListonScroll',
            data: { page: page },
            success: function (data) {
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCount++;
                        if ('@ViewBag.page' == 2) {
                            $("#invenlist_table" + tab).append('<tr>' +
                                '<td>' + showCount + '</td>' +
                             '<td><span><input type="checkbox" data-invenid="' + data[i].InventoryId + '" class="chkInven" /></span>' +
                             data[i].ProductName + (tab == 3 && (data[i].LC) != "N/A" ? "(L/C : " + data[i].LC + ")" : "")
                             + '</td>' +
                        '<td>' + data[i].ProductType + '</td>' +
                        '<td>' +
                        '<a href="/StoreProduct/StoreProductDetails?q=' + getDataEncrypted("id=" + data[i].InventoryId) + '">' +
                        '<span type="button" class="btn blue" data-toggle="tooltip" title="Show Details" data-container="body"><i class="fa fa-list-ul"></i> Details</span>' +
                    '</a>' +
                        '</td>' +
                         '</tr>');
                        } else {
                            $("#invenlist_table" + tab).append('<tr>' +
                                '<td>' + showCount + '</td>' +
                             '<td>' +
                             data[i].ProductName + (tab == 3 && (data[i].LC) != "N/A" ? "(L/C : " + data[i].LC + ")" : "")
                             + '</td>' +
                        '<td>' + data[i].ProductType + '</td>' +
                        (tab != 3 ? ('<td>' +
                        '<a href="/StoreProduct/StoreProductDetails?q=' + getDataEncrypted("id=" + data[i].InventoryId) + '"style="margin-right:3px!important;">' +
                            '<span type="button" class="btn blue" data-toggle="tooltip" title="Show Details" data-container="body"><i class="fa fa-list-ul"></i></span>' +
                        '</a>' +
                            '<span class="btn green btn-sm btn_import_pro" data-id="' + data[i].InventoryId + '" style="margin-right:3px!important;" data-toggle="tooltip" title="Import Product" data-placement="top" data-container="body"><i class="fa fa-reply-all"></i></span>' +
                            '<span class="btn blue btn-sm btn_import_his" data-id="' + data[i].InventoryId + '" style="margin-right:3px!important;" data-toggle="tooltip" title="Import History" data-placement="top" data-container="body"><i class="fa fa-stack-exchange"></i></span>' +
                            '<span class="btn purple btn-sm btn_LC_his" data-id="' + data[i].InventoryId + '" style="margin-right:3px!important;" data-toggle="tooltip" title="LC Details" data-placement="top" data-container="body"><i class="fa fa-jpy"></i></span>' +
                            '<span class="btn yellow btn-sm btn_dis_his" data-id="' + data[i].InventoryId + '" style="margin-right:3px!important;" data-toggle="tooltip" title="Dispatched History" data-placement="top" data-container="body"><i class="fa fa-outdent"></i></span>' +
                            '<span class="btn grey-cascade btn-sm btn_route_his" data-id="' + data[i].InventoryId + '" style="margin-right:3px!important;" data-toggle="tooltip" title="Routed History" data-placement="top" data-container="body"><i class="fa fa-random"></i></span>' +
                        '</td>') : "") +
                         '</tr>');
                        }
                    }
                } else {
                    page = -1;
                    inCallback = false;
                }
                $("#loading").hide();
                $('[data-toggle="tooltip"]').tooltip();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }


        });
    }

    function onProductChange() {
        var current = this.value();
        sendData = { locationId: current, page: 2, tab: tab };
        if (tab == 1) {
            $("#inventoy_product_list_div").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', sendData);
        }
        else if (tab == 2) {
            $("#inventoy_product_list_div_master").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', sendData);
        }
        else if (tab == 3) {
            $("#inventoy_product_list_div_lc").load('@Url.Action("InventoryProductListByTypePartial", "StoreProduct")', sendData);
        }
    }

    $("#div_for_panel_body").on("click", ".btn_import_pro", function () {
       var id = $(this).data("id");
       location.href = "@Url.Action("InventoryItemLocationSet", "StoreProduct")?q=" + getDataEncrypted("id="+id);
    });
    //************************ All Import History ********************************
    $("#div_for_panel_body").on("click", ".btn_import_his", function () {
        var id = $(this).data("id");
        $("#win_import_His").empty();
        $("#win_import_His").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '80%',
            height: '50%',
            title: 'Show Import History',
            close: onWindowClose
        });
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
        $("#win_import_His").html('<div class="win_loading_half"></div>');
        var win_import_His = $("#win_import_His").data("kendoWindow");
        win_import_His.refresh({ url: "/StoreProduct/_ProImportHis?id=" + id });
        win_import_His.center().open();

    });
    //****************************** All Lc Details *******************************
    $("#div_for_panel_body").on("click", ".btn_LC_his", function () {
       var id = $(this).data("id");
        $("#win_lc_details").empty();
        $("#win_lc_details").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '80%',
            height: '50%',
            title: 'Show LC Wise Details',
            close: onWindowClose
        });
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
        $("#win_lc_details").html('<div class="win_loading_half"></div>');
        var win_lc_details = $("#win_lc_details").data("kendoWindow");
        win_lc_details.refresh({ url: "/StoreProduct/_ProLCHis?id=" + id });
        win_lc_details.center().open();
    });
    //************************ All Dispatched History ********************************

       $("#div_for_panel_body").on("click",".btn_dis_his",function () {
        var id = $(this).data("id");
        $("#win_Dis_His").empty();
        $("#win_Route_His").empty();
        $("#win_Dis_His").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '80%',
            height: '50%',
            title: 'Show Dispatched History',
            close: onWindowClose
        });
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
        $("#win_Dis_His").html('<div class="win_loading_half"></div>');
        var win_Dis_His = $("#win_Dis_His").data("kendoWindow");
        win_Dis_His.refresh({ url: "/StoreProduct/_ProDispatchedHis?id=" + id + '&type=2' });
        win_Dis_His.center().open();
    });
    //************************ All Route History ********************************
            
       $("#div_for_panel_body").on("click", ".btn_route_his", function () {
        var id = $(this).data("id");
        $("#win_Dis_His").empty();
        $("#win_Route_His").empty();
        $("#win_Route_His").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: "80%",
            height: "80%",
            title: 'Show Routed History',
            close: onWindowClose
        });
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
        $("#win_Route_His").html('<div class="win_loading_half"></div>');
        var win_Route_His = $("#win_Route_His").data("kendoWindow");
        win_Route_His.refresh({ url: "/StoreProduct/_ProDispatchedHis?id=" + id + "&type=1" });
        win_Route_His.center().open();
    });
</script>
