


@*********************************** CREATED BY JERIN JAHAN (06-06-2017) ********************************@
@using FactoryManagement.Helpers
@model FactoryManagement.Models.View_Import_History_Details
@{
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
    var importItems = db.View_Import_Item_Details.Where(m => m.ImportId == Model.ImportId || m.ParentId == Model.ImportId).ToList();
    int serial = 0;
}
<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin-top:2%;">
    <dl class="dl-horizontal row">
        <dt>Voucher Name :</dt>
        <dd>
            @Model.VoucherName
            <a href="@Html.EncodedParam("ImportHisLCDetailsPrint", "StoreProduct", new { id = Model.ImportId}, null)" target="_blank" style="float:right;margin-right:5%;font-size:14px">
                <i class="fa fa-print"></i>Print
            </a>
        </dd>

        <dt>L/C :</dt>
        <dd>@Model.L_C</dd>

        <dt>Product Name :</dt>
        <dd>@Model.ProductName</dd>

        <dt>Total Quantity :</dt>
        <dd>@Model.Quantity @Model.UnitName</dd>
    </dl>
   
    <h4>Import Item Lists</h4><hr />
    <table class="table table-bordered" id="tbl_all_item">
        <tr>
            <th>#</th>
            <th>Quantity</th>
            <th>Voucher Name</th>
            <th>Assigned Location</th>
            <th>Imported Date</th>
            <th>Imported By</th>
            <th></th>
        </tr>
        @foreach (var data in importItems)
        {
            serial++;
            <tr>
                <td>@serial .</td>
                <td>@data.Quantity @Model.UnitName </td>
                <td>@data.TransactionName</td>
                <td>@data.AssignLocation</td>
                <td>@data.InsertedDateFormat</td>
                <td>@data.InsertedByUserName</td>
                <th>
                    <a href="@Html.EncodedParam("ImportHistoryDetailsPrint", "StoreProduct", new { id = data.ImportId }, null)" target="_blank" style="font-size:14px">
                        <i class="fa fa-print"></i>Print
                    </a>
                </th>
            </tr>
        }
    </table>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    $("#btn_imp_his_Cancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
        document.documentElement.style.overflow = 'auto';  // firefox, chrome
        document.body.scroll = "yes"; // ie only
    });
</script>
