
@************************************* Created by Jerin Jahan (Date: 03.12.2016) ******************************************@
@{
    ViewBag.Title = "InvenDisVoucherList";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}
<link href="~/Content/Date Range Picker/daterangepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/Date Range Picker/moment.js"></script>
<script src="~/Content/Date Range Picker/daterangepicker.js"></script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-basket"></i>
            <span>Inventory</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="/StoreProduct/InvenDisVoucherList">All Dispatch History</a>
        </li>
    </ul>
</div>
<p>
    <a href="/Inventory/UnitWiseCottonDispatchList" data-toggle="tooltip" title="Show Unit Wise Dispatch History" data-container="body"><span class="btn green"><i class="fa fa-list-ul"></i> Unit Wise</span></a>
    <a href="/StoreProduct/InventoryItemDispatchDeptWise" data-toggle="tooltip" title="Show Dept Wise Dispatch History" data-container="body"><span class="btn yellow"><i class="fa fa-list-ul"></i> Dept Wise</span></a>
    <a href="/StoreProduct/InventoryItemDispatchHis" data-toggle="tooltip" title="Show Product Wise Dispatch History" data-container="body"><span class="btn purple"><i class="fa fa-list-ul"></i> Product Wise</span></a>
    <a href="/StoreProduct/InventoryItemDispatchMachineWise" data-toggle="tooltip" title="Show Machine Wise Dispatch History" data-container="body"><span class="btn grey-cascade"><i class="fa fa-list-ul"></i> Machine Wise</span></a>
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-ul font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Dispatch History</span>
                </div>
                <div class="actions">
                    <div class="actions" id="day_buttons">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <span></span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="pull-right" style="padding-top:7px!important;padding-right:5px!important;" id="show_Days_Title"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active" id="liForAllDis"><a href="#tab1AllDis" data-toggle="tab">All</a></li>
                            <li id="liForMachine"><a href="#tab1MachineList" data-toggle="tab">Machine</a></li>
                            <li id="liForPlace"><a href="#tab2PlaceList" data-toggle="tab">Location</a></li>
                        </ul>
                    </div>
                    <div class="panel-body" style="border:none!important;" id="div_for_panel_body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1AllDis">
                                <div id="divForAllDis"></div>
                                @if (db.View_Inven_Dis_Voucher_List.Any())
                                {
                                    <script>
                                        $("#Div_Upper_Portion1").show();
                                        $("#divForAllDis").append('<div class="win_loading_half"></div>');
                                        $("#divForAllDis").show();
                                        $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")?isStore=' + '@(ViewBag.isStore)');
                                    </script>
                                }
                                else
                                {
                                    <script>
                                        $("#divForAllDis").append(' <h3>There is no record to display...</h3>');
                                        $("#divForAllDis").show();
                                    </script>
                                }
                            </div>
                            <div class="tab-pane fade" id="tab1MachineList"><div id="divForMachine"></div></div>
                            <div class="tab-pane fade" id="tab2PlaceList"><div id="divForPlace"></div></div>
                        </div>
                        <div id="loading" style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var start = moment();
    var end = moment().subtract(1, 'days');
    $(document).ready(function () {
        $("#liForInventory").addClass('active');
        $("#liForDisVouHis").addClass('sublistActive');

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'All': [moment(), moment().subtract(1, 'days')],
                'Today': [moment(), moment()],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            }
        }, cb);

        cb(start, end);
        start = moment(); end = moment();
        $(".applyBtn").click(function () {
            var from = $("input[name*='daterangepicker_start']").val();
            var to = $("input[name*='daterangepicker_end']").val();
            btn_CusromDate(from, to);
        });

        $('.ranges').on("click", "li", function () {
            var day = $(this).data("range-key");
            if (day == "All") {
                btn_All();
            } else {
                if (day == "Today") {
                    btn_today();
                } else if (day == "Last 7 Days") {
                    btn_last_seven();
                } else if (day == "Last 30 Days") {
                    btn_last_thirty();
                }
            }
        });
    });

    function cb(start, end) {
        if (start == null && end == null) {
            $('#reportrange span').html("All");
            return;
        }
        else if ((!start._isValid && !end._isValid)) {
            $('#reportrange span').html("All");
            return;
        } else if (start._d > end._d) {
            $('#reportrange span').html("All");
            return;
        }
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
</script>
<script>
    var showCount = 0, totalCount = 0, page = 0, inCallback = false, days = 0, tab = 1;

    $("#liForAllDis").click(function () {
        tab = 1; showCount = 0, totalCount = 0, page = 0, days = 0;
        var passdata = '';
        passdata = { isStore: '@(ViewBag.isStore)' };
        $("#divForAllDis").empty();
        $("#divForAllDis").append('<div class="win_loading_half"></div>');
        $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        $('#reportrange span').html("All");
        $('#show_Days_Title').html("");
    });
    $("#liForMachine").click(function () {
        tab = 2; showCount = 0, totalCount = 0, page = 0, days = 0;
        var passdata = '';
        passdata = { isStore: '@(ViewBag.isStore)', AssignType: 1 };
        $("#divForMachine").empty();
        $("#divForMachine").append('<div class="win_loading_half"></div>');
        $("#divForMachine").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")?', passdata);
        $('#reportrange span').html("All");
        $('#show_Days_Title').html("");
    });
    $("#liForPlace").click(function () {
        tab = 3, showCount = 0, totalCount = 0, page = 0, days = 0;
        var passdata = '';
        passdata = { isStore: '@(ViewBag.isStore)', AssignType: 2 };
        $("#divForPlace").empty();
        $("#divForPlace").append('<div class="win_loading_half"></div>');
        $("#divForPlace").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")?', passdata);
        $('#reportrange span').html("All");
        $('#show_Days_Title').html("");
    });

    @******************************** OnScroll Bind Table Data *************************@
    $(window).scroll(function () {
        var countBytype, result;
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (parseInt(showCount) < parseInt(totalCount)) {
                if (page > -1 && !inCallback) {
                    inCallback = true;
                    page++;
                    $("div#loading").show();
                    loadMoreData(page);
                }
            }
        }
    });
    function loadMoreData(page) {
        $.ajax({
            type: 'GET',
            url: '/StoreProduct/GetInvenVoucher',
            data: { page: page },
            success: function (data) {
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCount++;
                        $("table#tbl_inven_vou_lit" + tab).append('<tr><th>' + showCount + '.</th>' +
                            '<td><a href="/StoreProduct/DispatchHistoryDetails?q=' + getDataEncrypted("id=" + data[i].Id) + '">' + data[i].VoucherName + '</a></td>' +
                            '<td>' + data[i].DispatchedDateName + '</td>' +

                            '<td><img class="img-circle" src="/Images/UserPicture/thumb/' + data[i].DispatchedUserPic + '">' +
                            ((data[i].DispatchedBy > 0) ? '<a href="/HumanResource/DisplayEmployeeDetails?q=' + getDataEncrypted("UserId=" + data[i].DispatchedBy + "?isDisplay=true") + '">' + ' ' + data[i].DispatchedUserName + '</a>' : ' <span>Super admin</span>'
                                ) +
                             '</td>' +
                             '</td></tr>');
                    }
                }
                else {
                    page = -1;
                }
                inCallback = false;
                $("#loading").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }
        });
    }

    function btn_today() {
        var passdata = '',showCount = 0, totalCount = 0, page = 0;
        if (tab == 1) {
            passdata = { days: 1, isStore: '@(ViewBag.isStore)' };
            $("#divForAllDis").empty();
            $("#divForAllDis").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Today's All Dispatched History");
            $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else if (tab == 2) {
            passdata = { days: 1, isStore: '@(ViewBag.isStore)', AssignType: 1 };
            $("#divForMachine").empty();
            $("#divForMachine").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Today's Machine Wise All Dispatched History");
            $("#divForMachine").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else {
            passdata = { days: 1, isStore: '@(ViewBag.isStore)', AssignType: 2 };
            $("#divForPlace").empty();
            $("#divForPlace").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Today's Place Wise All Dispatched History");
            $("#divForPlace").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        days = 1;
        $('#show_Days_Title').html("Today");
    }

    function btn_last_seven() {
        var passdata = '', showCount = 0, totalCount = 0, page = 0;
        if (tab == 1) {
            passdata = { days: 7, isStore: '@(ViewBag.isStore)' };
            $("#divForAllDis").empty();
            $("#divForAllDis").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Last 7 Days All Dispatched History");
            $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else if (tab == 2) {
            passdata = { days: 7, isStore: '@(ViewBag.isStore)', AssignType: 1 };
            $("#divForMachine").empty();
            $("#divForMachine").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Last 7 Days Machine Wise All Dispatched History");
            $("#divForMachine").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else {
            passdata = { days: 7, isStore: '@(ViewBag.isStore)', AssignType: 2 };
            $("#divForPlace").empty();
            $("#divForPlace").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Last 7 DaysPlace Wise All Dispatched History");
            $("#divForPlace").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        days = 7;
        $('#show_Days_Title').html("Last 7 Days");
    }
    function btn_last_thirty() {
        var  passdata = '', showCount = 0, totalCount = 0, page = 0;
        if (tab == 1) {
            passdata = { days: 30, isStore: '@(ViewBag.isStore)' };
            $("#divForAllDis").empty();
            $("#divForAllDis").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Last 30 Days All Dispatched History");
            $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else if (tab == 2) {
            passdata = { days: 30, isStore: '@(ViewBag.isStore)', AssignType: 1 };
            $("#divForMachine").empty();
            $("#divForMachine").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Last 30 Days Machine Wise All Dispatched History");
            $("#divForMachine").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else {
            passdata = { days: 30, isStore: '@(ViewBag.isStore)', AssignType: 2 };
            $("#divForPlace").empty();
            $("#divForPlace").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Last 30 Days Place Wise All Dispatched History");
            $("#divForPlace").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        days = 30;
        $('#show_Days_Title').html("Last 30 Days");
    }
    function btn_All() {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        if (tab == 1) {
            passdata = {isStore: '@(ViewBag.isStore)' };
            $("#divForAllDis").empty();
            $("#divForAllDis").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing All Dispatched History");
            $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else if (tab == 2) {
            passdata = {isStore: '@(ViewBag.isStore)', AssignType: 1 };
            $("#divForMachine").empty();
            $("#divForMachine").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Machine Wise All Dispatched History");
            $("#divForMachine").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else {
            passdata = {isStore: '@(ViewBag.isStore)', AssignType: 2 };
            $("#divForPlace").empty();
            $("#divForPlace").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Days Place Wise All Dispatched History");
            $("#divForPlace").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        days = 0;
        $('#show_Days_Title').html("");
    }
    function btn_CusromDate(from, to) {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        if (tab == 1) {
            passdata = { isStore: '@(ViewBag.isStore)', from: new Date(from).toISOString(), to: new Date(to).toISOString() };
            $("#divForAllDis").empty();
            $("#divForAllDis").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing All Dispatched History");
            $("#divForAllDis").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else if (tab == 2) {
            passdata = { isStore: '@(ViewBag.isStore)', AssignType: 1, from: new Date(from).toISOString(), to: new Date(to).toISOString() };
            $("#divForMachine").empty();
            $("#divForMachine").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Machine Wise All Dispatched History");
            $("#divForMachine").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        else {
            passdata = { isStore: '@(ViewBag.isStore)', AssignType: 2, from: new Date(from).toISOString(), to: new Date(to).toISOString() };
            $("#divForPlace").empty();
            $("#divForPlace").append('<div class="win_loading_half"></div>');
            $("#h4title").text("Showing Days Place Wise All Dispatched History");
            $("#divForPlace").load('@Url.Action("_InvenDisVoucherList", "StoreProduct")', passdata);
        }
        days = 0;
        $('#show_Days_Title').html("Custom Days");
    }
</script>