 

@**************************** Tasnim Tuli (27.3.17)**********************************@
@{
    ViewBag.Title = "InventoryItemDispatchMachineWise";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}
<link href="~/Content/Date Range Picker/daterangepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/Date Range Picker/moment.js"></script>
<script src="~/Content/Date Range Picker/daterangepicker.js"></script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-basket"></i>
            <span>Inventory</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-building"></i>
            <a href="/StoreProduct/InvenDisVoucherList">Item Dispatch History</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-th-list"></i>
            <a href="/StoreProduct/InventoryItemDispatchMachineWise">Machine Wise</a>
        </li>
    </ul>
</div>
<p>
    <a href="/Inventory/UnitWiseCottonDispatchList" data-toggle="tooltip" title="Show Unit Wise Dispatch History" data-container="body"><span class="btn green"><i class="fa fa-list-ul"></i> Unit Wise</span></a>
    <a href="/StoreProduct/InventoryItemDispatchDeptWise" data-toggle="tooltip" title="Show Dept Wise Dispatch History" data-container="body"><span class="btn yellow"><i class="fa fa-list-ul"></i> Dept Wise</span></a>
    <a href="/StoreProduct/InventoryItemDispatchHis" data-toggle="tooltip" title="Show Product Wise Dispatch History" data-container="body"><span class="btn purple"><i class="fa fa-list-ul"></i> Product Wise</span></a>
    <a href="/StoreProduct/InventoryItemDispatchMachineWise" data-toggle="tooltip" title="Show Machine Wise Dispatch History" data-container="body"><span class="btn grey-cascade"><i class="fa fa-list-ul"></i> Machine Wise</span></a>
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-ul font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Inventory Item Dispatch History <small> Machine Wise</small></span>
                </div>
                <div class="actions">
                    <div class="actions" id="day_buttons">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <span></span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="pull-right" style="padding-top:7px!important;padding-right:5px!important;" id="show_Days_Title"></div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="Div_All_His_Machine_wise" style="display:none;"></div>
                <div id="win_machine_history"></div>
                @if (db.View_Dispacth_Item_Details.Any())
                {
                    <script>
                        $("#Div_Upper_Portion").show();
                        $("#Div_All_His_Machine_wise").append('<div class="loading_partial"></div>');
                        $("#Div_All_His_Machine_wise").show();
                        $("#Div_All_His_Machine_wise").load("_InventoryItemDispatchHisMachineWise", "StoreProduct");
                    </script>
                }
                else
                {
                    <script>
                        $("#Div_All_His_Machine_wise").append('<h3>There is no record to display...</h3>');
                        $("#Div_All_His_Machine_wise").show();
                    </script>
                }
            </div>
        </div>
    </div>
</div>

<script>
    var start = moment();
    var end = moment().subtract(1, 'days');
    $(document).ready(function () {
        $("#liForInventory").addClass('active');
        $("#liForDisVouHis").addClass('sublistActive');

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'All': [moment(), moment().subtract(1, 'days')],
                'Today': [moment(), moment()],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            }
        }, cb);

        cb(start, end);
        start = moment(); end = moment();
        $(".applyBtn").click(function () {
            var from = $("input[name*='daterangepicker_start']").val();
            var to = $("input[name*='daterangepicker_end']").val();
            btn_CusromDate(from, to);
        });

        $('.ranges').on("click", "li", function () {
            var day = $(this).data("range-key");
            if (day == "All") {
                btn_All();
            } else {
                if (day == "Today") {
                    btn_today();
                } else if (day == "Last 7 Days") {
                    btn_last_seven();
                } else if (day == "Last 30 Days") {
                    btn_last_thirty();
                }
            }
        });
    });

    function cb(start, end) {
        if (start == null && end == null) {
            $('#reportrange span').html("All");
            return;
        }
        else if ((!start._isValid && !end._isValid)) {
            $('#reportrange span').html("All");
            return;
        } else if (start._d > end._d) {
            $('#reportrange span').html("All");
            return;
        }
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
</script>
<script>
    var showCount = 0, totalCount = 0, page = 0, inCallback = false;
    var days = 0;
    $(document).ready(function () {
        $("#liForInventory").addClass('active');
        $('#liForInvenDisHis').addClass('open');
        $('#liForInvenDisHis .sub-menu').show();
        $("#liForMachineDisHis").addClass('sublistActive');

    });
    $(document).on("click", "#btn_page_back", function () {
        window.history.back();
    });
    $(window).scroll(function () {
        var countBytype, result;
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (parseInt(showCount) < parseInt(totalCount)) {
                if (page > -1 && !inCallback) {
                    inCallback = true;
                    page++;
                    $("div#loading").show();
                    loadMoreData(page);
                }
            }
        }
    });
    function loadMoreData(page) {
        $.ajax({
            type: 'GET',
            url: '/StoreProduct/GetMachineDisHis',
            data: { page: page },
            success: function (data) {
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCount++;
                        $("table#tbl_All_his_machine").append('<tr><th>' + showCount + '.</th>' +
                        '<td><span style="color:#428bca;cursor:pointer;" class="machineDetails" data-id="' + data[i].machineid + '" >' + data[i].MachineName + '</span></td>' +
                        '<td>' +data[i].DispatchedDateName + '</td>' + 
                        '<td>' + ((data[i].DispatchedBy != null) ? ((data[i].DispatchedBy > 0) ? '<img class="img-circle" src="/Images/UserPicture/thumb/' + data[i].DispatchedUserPic + '">' +
                        '<a href="/HumanResource/DisplayEmployeeDetails?q=' + getDataEncrypted("UserId=" + data[i].DispatchedBy +"?isDisplay=true")  + '">' + data[i].DispatchedUserName + '</a>' : '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].DispatchedUserPic + '">' +
                        '<span>' + data[i].DispatchedUserName + '</span>') : '<span>Not approved yet</span>') +
                        '</td>' +
                         '</td></tr>');
                    }
                }
                else {
                    page = -1;
                }
                inCallback = false;
                $("#loading").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }
        });
    }
    $("#Div_All_His_Machine_wise").on("click", ".machineDetails", function (e) {
        e.preventDefault();
        var machineid = $(this).data("id");
        $("#win_machine_history").empty();
        $("#win_machine_history").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '70%',
            height: '60%',
            title: ' Machine Details'
        });
        $("#win_machine_history").html('<div class="win_loading_half"></div>');
        var win_machine_history = $("#win_machine_history").data("kendoWindow");
        win_machine_history.refresh({ url: "/StoreProduct/ShowInvenDispacthMachineDetails?machineid=" + machineid });
        win_machine_history.center().open();
    });

</script>
<script>
    function btn_today() {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 1 };
        $("#Div_All_His_Machine_wise").empty();
        $("#Div_All_His_Machine_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Today's Dispatched History (Machine Wise)");
        $("#Div_All_His_Machine_wise").load('@Url.Action("_InventoryItemDispatchHisMachineWise", "StoreProduct")', passdata);
        days = 1;
        $('#show_Days_Title').html("Today");
    }

    function btn_last_seven() {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 7 };
        $("#Div_All_His_Machine_wise").empty();
        $("#Div_All_His_Machine_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Last 7 Days Dispatched History");
        $("#Div_All_His_Machine_wise").load('@Url.Action("_InventoryItemDispatchHisMachineWise", "StoreProduct")', passdata);
        days = 7;
        $('#show_Days_Title').html("Last 7 Days");
    }
    function btn_last_thirty() {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 30 };
        $("#Div_All_His_Machine_wise").empty();
        $("#Div_All_His_Machine_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Last 30 Days Dispatched History (Machine Wise)");
        $("#Div_All_His_Machine_wise").load('@Url.Action("_InventoryItemDispatchHisMachineWise", "StoreProduct")', passdata);
        days = 30;
        $('#show_Days_Title').html("Last 30 Days");
    }
    function btn_All() {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        $("#Div_All_His_Machine_wise").empty();
        $("#Div_All_His_Machine_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing All History (Machine Wise)");
        $("#Div_All_His_Machine_wise").load('@Url.Action("_InventoryItemDispatchHisMachineWise", "StoreProduct")');
        days = 0;
        $('#show_Days_Title').html("");
    }
    function btn_CusromDate(from, to) {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { from: new Date(from).toISOString(), to: new Date(to).toISOString() };
        $("#Div_All_His_Machine_wise").empty();
        $("#Div_All_His_Machine_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Last 30 Days Dispatched History (Machine Wise)");
        $("#Div_All_His_Machine_wise").load('@Url.Action("_InventoryItemDispatchHisMachineWise", "StoreProduct")', passdata);
        days = 30;
        $('#show_Days_Title').html("Custom Days");
    }
</script>
