


@************************ Created By Jerin Jahan Date(24.11.2016) *******************************@
@model IEnumerable<FactoryManagement.ModelView.Acquisition.AcquisitionViewModel>
@{
    int count = 1;
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}
<style>
    #tbl_Rsv_Deatails th, #tbl_Rsv_Deatails td{border:none!important;}
</style>
<table class="table" id="tbl_Rsv_Deatails">
    <tr>
        <th width="3%">#</th>
        <th width="20%">Order Name</th>
        <th width="10%">Quantity</th>
        <th width="25%">Reserved By</th>
        <th width="20%">Reserved Date</th>
    </tr>
    @foreach (var list in Model)
    {
        <tr>
            <th>@count.</th>
            <td>@list.Name</td>
            <td>@list.Quantity @list.UnitName</td>
            <td>
                @if (list.CreatedBy == 1)
                {
                    <img src="~/Images/UserPicture/thumb/admin.jpg" class="user-photo" />
                    <span>Super Admin</span>
                }
                else
                {
                    var userName = db.View_UserLists.Where(m => m.UserId == list.CreatedBy).FirstOrDefault();
                    <a href="/HumanResource/DisplayEmployeeDetails?UserId=@list.CreatedBy&userType=1">
                        <img src="~/Images/UserPicture/thumb/@userName.Picture" class="user-photo" /> @userName.UserName
                    </a>
                }
            </td>
            <td>@Convert.ToDateTime(list.CreatedDate).ToString("MMM dd, yyyy hh:mm:tt")</td>
        </tr>
        count++;
    }
</table>
