@************************************ Created By Jerin Jahan (Date: 02.02.2017) ****************************************************************@
@model FactoryManagement.Models.AccountName
@using FactoryManagement.Helpers
@{
    ViewBag.Title = "AccountDetails";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}

<h3 class="page-title">
    Account Holder Details <small>List</small>
</h3>
<div class="page-bar">
   <ul class="page-breadcrumb col-md-12">
        <li>
            <i class="fa fa-calculator"></i>
            <span>Finance</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-th-list" aria-hidden="true"></i>
            <a href="/Accounting/AccountGroup">Internal Account</a>
                <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-info-circle" aria-hidden="true"></i>  
            <a href="@Html.EncodedParam("AccountDetails", "Accounting", new { AccId = Model.AccId}, null)">Account Details</a>            
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class=" portlet light bordered">
            <div class="caption font-green ">
                <i class="fa fa-info-circle font-green"></i>
                <span class="caption-subject bold uppercase">Account Details</span>
            </div>
            <hr />
            <div id="Div_for_Account_informartion_display"> <div class="win_loading_half"></div>               </div>
        </div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom:10px;">
            <span class="btn green" id="btn_add_invoice" data-toggle="tooltip" data-original-title="Create New Voucher"><i class=" fa fa-plus"></i> Create New Voucher</span>           
            <span id="div_for_list_btn">
                <span data-toggle="tooltip" title="All History"><span class="btn blueTop active" id="btn_All"><i class="fa fa-list-ul"></i> All</span></span>
                <span data-toggle="tooltip" title="Today's History"><span class="btn blueTop" id="btn_today"><i class="fa fa-list-ul"></i> Today</span></span>
                <span data-toggle="tooltip" title="Last 7 Days History"><span class="btn blueTop" id="btn_last_seven"><i class="fa fa-list-ul"></i> Last 7 Days</span></span>
                <span data-toggle="tooltip" title="Last 30 Days History"><span class="btn blueTop" id="btn_last_thirty"><i class="fa fa-list-ul"></i> Last 30 Days</span></span>
            </span>
        </div>
        
    </div>
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i><span id="headr_title" style="margin-top: 0px!important">Showing Details of Account Holder </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li id="liForAllTran" class="active"><a href="#tab1Pck" data-toggle="tab">Transaction History</a></li>
                            <li id="liAccountSalaryPay"><a href="#tab2SalaryPay" data-toggle="tab">Salary Pay History</a></li>
                            <li id="liLoanHistory"><a href="#tab3Loan" data-toggle="tab">Loan History</a></li>
                        </ul>
                    </div>
                    <div class="panel-body" style="border:none!important;">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1Pck"><div class="loading_15"></div></div>
                            <div class="tab-pane fade" id="tab2SalaryPay"></div>
                            <div class="tab-pane fade" id="tab3Loan"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading" style="display:none;"></div>

<script>
    $("#Div_for_Account_informartion_display").load('@Url.Action("DisplayAccountDetails", "Accounting")?AccId='+@Model.AccId);
</script>
<script>
    $("#btn_add_invoice").click(function () {
        location.href = '@Url.Action("CreateVoucher","Voucher")?q='+ getDataEncrypted("IsAccSelect=true?accId="+@Model.AccId+"");
    });
</script>

<div id="Win_Edit_Acc"></div>
<div id="win_tran_info"></div>
<div id="win_Salary_Pay_details"></div>
<div id="win_Loan_history_Details"></div>
    
<script id="temp_for_confirmation" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px"> #=message# </p>
        <div style="text-align: right;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_confirm_ok"><span class="k-icon k-update"></span>OK</button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_confirm_cancel"><span class="k-icon k-cancel"></span>Cancel</button>
        </div>
    </div>               
</script>
<script>
    var showCount = 0, totalCount = 0, inCallback = false, days = 0;
    var id,tabno = 1,inCallbackSalary = false, showCountforSalary = 0, totalCountforSalary = 0,inCallbackLoan = false, showCountforLoan = 0, totalCountforLoan = 0;
    $(document).ready(function () {
        $("#liForAccounting").addClass('active');
        $("#liForAccountGroup").addClass('sublistActive');
        $("#tab1Pck").load('@Url.Action("_TransactionforInternalAccount", "Voucher")?InternalAccId='+ '@Model.AccId');
        $('[data-toggle="tooltip"]').tooltip();
    });
    @************Day wise transaction filters****************@
    $("#btn_today").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 1 };
        $("#btn_All").removeClass('active');
        $("#btn_last_seven").removeClass('active');
        $("#btn_last_thirty").removeClass('active');
        $("#btn_today").addClass('active');
        if(tabno==1){
            $("#tab1Pck").empty();
            $("#tab1Pck").append('<div class="loading_partial"></div>');
            $("#tab1Pck").load('@Url.Action("_TransactionListDayWise", "Voucher")', passdata);
        }
        if(tabno==2){
            $("#tab2SalaryPay").empty();
            $("#tab2SalaryPay").append('<div class="loading_partial"></div>');
            $("#tab2SalaryPay").load('@Url.Action("_AccountSalaryPayListDayWise", "Accounting")', passdata);
        }
        if(tabno==3){
            $("#tab3Loan").empty();
            $("#tab3Loan").append('<div class="loading_partial"></div>');
            $("#tab3Loan").load('@Url.Action("_AccountLoanHistoryListDayWise", "Accounting")', passdata);
        }
    });

    $("#btn_last_seven").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 7 };
        $("#btn_All").removeClass('active');
        $("#btn_last_seven").addClass('active');
        $("#btn_last_thirty").removeClass('active');
        $("#btn_today").removeClass('active');
        if(tabno==1){
            $("#tab1Pck").empty();
            $("#tab1Pck").append('<div class="loading_partial"></div>');
            $("#tab1Pck").load('@Url.Action("_TransactionListDayWise", "Voucher")', passdata);
        }
        if(tabno==2){
            $("#tab2SalaryPay").empty();
            $("#tab2SalaryPay").append('<div class="loading_partial"></div>');
            $("#tab2SalaryPay").load('@Url.Action("_AccountSalaryPayListDayWise", "Accounting")', passdata);
        }
        if(tabno==3){
            $("#tab3Loan").empty();
            $("#tab3Loan").append('<div class="loading_partial"></div>');
            $("#tab3Loan").load('@Url.Action("_AccountLoanHistoryListDayWise", "Accounting")', passdata);
        }
    });
    $("#btn_last_thirty").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 30 };
        $("#btn_All").removeClass('active');
        $("#btn_last_seven").removeClass('active');
        $("#btn_last_thirty").addClass('active');
        $("#btn_today").removeClass('active');
        if(tabno==1){
            $("#tab1Pck").empty();
            $("#tab1Pck").append('<div class="loading_partial"></div>');
            $("#tab1Pck").load('@Url.Action("_TransactionListDayWise", "Voucher")', passdata);
        }
        if(tabno==2){
            $("#tab2SalaryPay").empty();
            $("#tab2SalaryPay").append('<div class="loading_partial"></div>');
            $("#tab2SalaryPay").load('@Url.Action("_AccountSalaryPayListDayWise", "Accounting")', passdata);
        }
        if(tabno==3){
            $("#tab3Loan").empty();
            $("#tab3Loan").append('<div class="loading_partial"></div>');
            $("#tab3Loan").load('@Url.Action("_AccountLoanHistoryListDayWise", "Accounting")', passdata);
        }
    });

    $("#btn_All").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        $("#btn_All").addClass('active');
        $("#btn_last_seven").removeClass('active');
        $("#btn_last_thirty").removeClass('active');
        $("#btn_today").removeClass('active');
        if(tabno==1){
            $("#tab1Pck").empty();
            $("#tab1Pck").append('<div class="loading_partial"></div>');
            $("#tab1Pck").load('@Url.Action("_TransactionforInternalAccount", "Voucher")?InternalAccId='+ '@Model.AccId');
        }
        if(tabno==2){
            $("#tab2SalaryPay").empty();
            $("#tab2SalaryPay").append('<div class="loading_partial"></div>');
            $("#tab2SalaryPay").load('@Url.Action("AccountSalaryPay", "Accounting")?AccId=' +@Model.AccId);
        }
        if(tabno==3){
            $("#tab3Loan").empty();
            $("#tab3Loan").append('<div class="loading_partial"></div>');
            $("#tab3Loan").load('@Url.Action("AccountLoanHistory", "Accounting")?AccId=' + @Model.AccId);
        }
    });
    @************************************End*****************************@
    $("#liForAllTran").click(function () {
        $("#tab1Pck").empty();
        $("#tab1Pck").append('<div class="loading_15"></div>');
        $("#tab1Pck").load('@Url.Action("_TransactionforInternalAccount", "Voucher")?InternalAccId='+ '@Model.AccId');
        tabno = 1,showCountforLoan = 0, totalCountforLoan = 0 ,showCount = 0, totalCount = 0;
    });
    $("#liAccountSalaryPay").click(function () {
        $("#tab2SalaryPay").empty();
        $("#tab2SalaryPay").append('<div class="loading_15"></div>');
        $("#tab2SalaryPay").load('@Url.Action("AccountSalaryPay", "Accounting")?AccId=' +@Model.AccId);
        tabno = 2,showCountforLoan = 0, totalCountforLoan = 0 ,showCount = 0, totalCount = 0;
    });
    $("#liLoanHistory").click(function () {
        $("#tab3Loan").empty();
        $("#tab3Loan").append('<div class="loading_15"></div>');
        $("#tab3Loan").load('@Url.Action("AccountLoanHistory", "Accounting")?AccId=' + @Model.AccId);
        tabno = 3,showCountforSalary = 0, showCount = 0, totalCount = 0, totalCountforSalary = 0;
    });
    $("#Div_for_Account_informartion_display").on("click", "#btn_Acc_Edit", function (e) {
        e.preventDefault();
        var accId = $(this).data("id");
        var kendoWindow = $("<div />").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            title: 'Edit Account',
            close: onWindowClose
        });
        message = "Are you sure want to edit this account name?";
        var template = kendo.template($("#temp_for_confirmation").html());
        kendoWindow.data("kendoWindow").content(template).center().open();
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
        kendoWindow.find("#btn_confirm_cancel").click(function () {
            kendoWindow.data("kendoWindow").close();
        }).end();
        kendoWindow.find("#btn_confirm_ok").click(function () {
            editAccName(accId);
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = 'hidden';
            document.body.scroll = "no";
        }).end();
    });
    function editAccName(accId) {
        $("#Win_Edit_Acc").empty();
        $("#Win_Edit_Acc").kendoWindow({
            actions: ["Close"],
            draggable:false,
            modal: true,
            visible: false,
            width: '55%',
            height: '15%',
            position: { top: '20%' },
            title: 'Update Account Name',
            close: onWindowClose
        });
        $("#Win_Edit_Acc").html('<div class="tiny_loading"></div>');
        var Win_Edit_Acc = $("#Win_Edit_Acc").data("kendoWindow");
        Win_Edit_Acc.refresh({ url: "/Accounting/_EditAccountName?AccId=" + '@(Model.AccId)' });
        Win_Edit_Acc.center().open();
        document.documentElement.style.overflow = 'hidden';  // firefox, chrome
        document.body.scroll = "no"; // ie only
    }
    $("#tab1Pck").on("click", ".btn_tran_receive", function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var accId = $(this).data('accid');
        var voucherType = $(this).data('vouchertype');
        var amount = $(this).data('amount');
        var sendData = {
            id: id,
            accId: accId,
            voucherType: voucherType,
            amount: amount,
            CreatedBy: userId
        };
        $.ajax({
            url: '@Url.Action("TransactionReceiveCalculation", "Accounting")',
            type: 'Post',
            data: sendData,
            success: function (data) {
                notification.hide();
                notification.setOptions({ autoHideAfter: 5000 });
                if (data === "Error") {
                    notification.show({ message: "Transaction receive was unsuccessful.", showTime: startTime() }, "upload-error");
                } else {
                    notification.show({ message: "Transaction has been successfully received.", showTime: startTime() }, "upload-success");
                }
                $("#tab1Pck").load('@Url.Action("_TransactionforInternalAccount", "Voucher")?InternalAccId=' + '@Model.AccId');
                $("#Div_for_Account_informartion_display").load('@Url.Action("DisplayAccountDetails", "Voucher")?AccId=' + '@Model.AccId');
            },
            error: function (err) {
                notification.hide(); notification.setOptions({ autoHideAfter: 5000 });
                notification.show({ message: "Error occurred.", showTime: startTime() }, "upload-warning");
            }
        });
    })
    $("#tab1Pck").on("click", ".accTranName", function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        var name = $(this).data("name");
        $("#win_tran_info").empty();
        $("#win_tran_info").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '50%',
            height: '50%',
            title: "Transaction '" + name + "' Details",
            close: onWindowClose
        });
        $("#win_tran_info").html('<div class="win_loading_half"></div>');
        var win_tran_info = $("#win_tran_info").data("kendoWindow");
        win_tran_info.refresh({ url: "/Voucher/InvoiceTranDetails?id=" + id });
        win_tran_info.center().open();

        document.documentElement.style.overflow = 'hidden';  // firefox, chrome
        document.body.scroll = "no"; // ie only
    });
    $("#tab2SalaryPay").on("click", ".payType", function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        $("#win_Salary_Pay_details").empty();
        $("#win_Salary_Pay_details").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '40%',
            height: '40%',
            title: "Salary Pay Details",
            close: onWindowClose
        });
        $("#win_Salary_Pay_details").html('<div class="win_loading_half"></div>');
        var win_salary_Pay_details = $("#win_Salary_Pay_details").data("kendoWindow");
        win_salary_Pay_details.refresh({ url: "/Voucher/SalaryPayDetails?id=" + id });
        win_salary_Pay_details.center().open();
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
    });

    $("#tab3Loan").on("click", ".accLoanpayType", function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        $("#win_Loan_history_Details").empty();
        $("#win_Loan_history_Details").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '50%',
            height: '50%',
            title: "Loan Details",
            close: onWindowClose
        });
        $("#win_Loan_history_Details").html('<div class="win_loading_half"></div>');
        var win_Loan_history_Details = $("#win_Loan_history_Details").data("kendoWindow");
        win_Loan_history_Details.refresh({ url: "/Accounting/AccLoanHistory?id=" + id });
        win_Loan_history_Details.center().open();
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";
    });



    $(window).scroll(function () {
        var page = 0, page1 = 0, page2 = 0;
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (tabno == 1) {
                if (parseInt(showCount) < parseInt(totalCount)) {
                    if (page > -1 && !inCallback) {
                        inCallback = true;
                        page++;
                        $("div#loading").show();
                        loadMoreData(page);
                    }
                }
            }
            if (tabno == 2) {
                if (parseInt(showCountforSalary) < parseInt(totalCountforSalary)) {
                    if (page1 > -1 && !inCallbackSalary) {
                        inCallbackSalary = true;
                        page1++;
                        $("div#loading").show();
                        loadMoreSalaryPay(page1);
                    }
                }
            }
            if (tabno == 3) {
                if (parseInt(showCountforLoan) < parseInt(totalCountforLoan)) {
                    if (page2 > -1 && !inCallbackLoan) {
                        inCallbackLoan = true;
                        page2++;
                        $("div#loading").show();
                        loadMoreLoanHistory(page2);
                    }
                }
            }
        }
    });

    function loadMoreData(page) {
        $.ajax({
            type: 'GET',
            url: '/Voucher/GetVouTranForAccount',
            data: { page: page},
            success: function (data) {
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCount++;
                        $("table#tbl_trans_internal_account").append('<tr><th>' + showCount + '.</th>' +
                        '<td><span style="color:#428bca;cursor:pointer;" class="accTranName" data-id="' + data[i].Id + '" data-name="' + data[i].TranName + '">' + data[i].TranName + '</span></td>' +
                        '<td>' + Currency + ' ' + data[i].Amout + '</td>' +
                        '<td>' + data[i].VoucherTypeName + '</td>' +
                        '<td>' + ((data[i].ApprovedBy != null) ? ((data[i].ApprovedBy > 0) ? '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].ApprovedUserPic + '">' +
                         '<a href="/HumanResource/DisplayEmployeeDetails?q='+getDataEncrypted("UserId=" + data[i].ApprovedBy + "?isDisplay=True")+'">' + data[i].ApprovedUserName + '</a>': '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].ApprovedUserPic + '">' +
                        '<span>' + data[i].ApprovedUserName + '</span>') : '<span>Not approved yet</span>') +
                        '</td>' +
                        '<td>' + data[i].ApproveFormate + '</td>' +
                        '<td style="font-weight:bold;">' + ((data[i].ApproveStatus == 0) ? '<span class="text-warning">Not approved yet</span>' : +
                        '' + (data[i].ApproveStatus == 1) ? '<span class="text-info">Approved but not received yet</span>' : +
                        '' + (data[i].ApproveStatus == 2) ? '<span class="text-success">Received</span>' : '<span class="text-danger">Rejected</span>') +
                        '</td>' +
                        '<td style="font-weight:bold;">' +
                        ((data[i].ApproveStatus == 1) ? '<span class="btn green btn_tran_receive" data-toggle="tooltip"  data-original-title="Receive Transaction" data-vouchertype="' + data[i].VoucherTypeId + '"data-amount="' + data[i].Amout + '" data-accid="' + data[i].InternalAccId + '"  data-id="' + data[i].Id + '" data-name="' + data[i].TranName + '" ><i class="fa fa-check"></i></span>' : '') +
                         '</td></tr>');
                    }
                }
                else {
                    page = -1;
                }
                inCallback = false;
                $("#loading").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }
        });
    };

    function loadMoreSalaryPay(page1) {
        $.ajax({
            type: 'GET',
            url: '/Accounting/GetSalaryPayForAccount',
            data: { page1: page1},
            success: function (data) {
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCountforSalary++;
                        $("table#tbl_for_salaryAcc").append('<tr><th>' + showCountforSalary + '.</th>' +
                        ' <td>' + ((data[i].PayType == 1) ? '<span style="color:#428bca;cursor:pointer;" class="payType" data-id="' + data[i].Id + '">Cash</span>' : +
                        '' + (data[i].PayType == 2) ? ' <span style="color:#428bca;cursor:pointer;" class="payType" data-id="' + data[i].Id + '">Cheque</span>' : +
                        '<span style="color:#428bca;cursor:pointer;" class="payType" data-id="' + data[i].Id + '">Account</span></td>') +
                        '<td>' + ((data[i].UserId > 0) ? '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].Picture + '">' +
                   '<a href="/HumanResource/DisplayEmployeeDetails?q='+getDataEncrypted("UserId=" + data[i].UserId + "?isDisplay=True")+'">' + data[i].UserName + '</a>'  : +
                        '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].Picture + '"><span>' + data[i].UserName + '</span>') +
                        '</td>' +
                        '<td>' + Currency +' '+ data[i].Amount + '</td>' +
                        '<td>' + ((data[i].InsertBy > 0) ? '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].InsertUserPic + '">' +
                         '<a href="/HumanResource/DisplayEmployeeDetails?q='+getDataEncrypted("UserId=" + data[i].InsertBy + "?isDisplay=True")+'">' + data[i].InsertUser + '</a>' : +
                        '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].InsertUserPic + '"><span>' + data[i].InsertUser + '</span>') +
                        '</td>' +
                        '<td>' + data[i].InsertedDateFormate + '</td>' +
                        '</tr>');
                    }
                }
                else {
                    page1 = -1;
                }
                inCallbackSalary = false;
                $("#loading").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }
        });
    };

    function loadMoreLoanHistory(page2) {
        $.ajax({
            type: 'GET',
            url: '/Accounting/GetLoanHistoryForAccount',
            data: {page2: page2 },
            success: function (data) {
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCountforLoan++;
                        $("table#tbl_loan_history_show_acc").append('<tr><th>' + showCountforLoan + '.</th>' +
                        ' <td>' + ((data[i].PayType == 1) ? '<span style="color:#428bca;cursor:pointer;" class="accLoanpayType" data-id="' + data[i].LoanId + '">Cash</span>' : +
                        '' + (data[i].PayType == 2) ? ' <span style="color:#428bca;cursor:pointer;" class="accLoanpayType" data-id="' + data[i].LoanId + '">Cheque</span>' : +
                        '<span style="color:#428bca;cursor:pointer;" class="accLoanpayType" data-id="' + data[i].LoanId + '">Account</span></td>') +
                        '<td>' + ((data[i].UserId > 0) ? '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].Picture + '">' +
                        '<a href="/HumanResource/DisplayEmployeeDetails?q='+getDataEncrypted("UserId=" + data[i].UserId + "?isDisplay=True")+'">' + data[i].UserName + '</a>': +
                        '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].Picture + '"><span>' + data[i].UserName + '</span>') +
                        '</td>' +
                        '<td>' + Currency + ' ' + data[i].Amount + '</td>' +
                        '<td>' + ((data[i].PaidAmount != null) ? '<span>' + Currency + ' ' + data[i].PaidAmount + '</span>' : '<span>Not yet paid</span>') +
                        '</td>' +
                        '<td>'+ ((data[i].PaidStatus == 0)? '<span>Due</span>' : '<span>Paid</span>')+
                        '</td>' +
                        '<td>' + ((data[i].LoanPaidBy > 0) ? '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].LoanPaidUserPic + '">' +
                        '<a href="/HumanResource/DisplayEmployeeDetails?q='+getDataEncrypted("UserId=" + data[i].LoanPaidBy + "?isDisplay=True")+'">' + data[i].LoanPaidUser + '</a>': +
                        '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].LoanPaidUserPic + '"><span>' + data[i].LoanPaidUser + '</span>') +
                        '</td>' +
                        '<td>' + data[i].LoanPaidDateFormate + '</td>' +
                        '<td>'+((data[i].LoanReceivedBy != null) ? ((data[i].LoanReceivedBy > 0) ? '<img class="user-photo" src="/Images/UserPicture/thumb/'+data[i].LoanReceivedPaidUserPic+'">'+
                        '<a href="/HumanResource/DisplayEmployeeDetails?q='+getDataEncrypted("UserId=" + data[i].LoanReceivedBy + "?isDisplay=True")+'">' + data[i].LoanReceivedPaidUser + '</a>':'<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].LoanReceivedPaidUserPic + '">'+
                        '<span>' + data[i].LoanReceivedPaidUser + '</span>') : '<span>Not Received Yet</span>') +
                        '</td>'+
                        '<td>'+((data[i].LoanReceivedDate != null) ? '<span>'+data[i].LoanReceivedDateFormate+'</span>':'<span>Not Received yet</span>')+
                        '</td>'+
                        '</tr>');
                    }
                }
                else {
                    page2 = -1;
                }
                inCallbackLoan = false;
                $("#loading").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }
        });
    }

</script>
