@******************************** Created By Jerin Jahan (Date:25.10.2016) *********************************@
@using FactoryManagement.Helpers
@{
    ViewBag.Title = "Account Group Lists";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}

<style>
    #tbl_Acc_search{margin-bottom:0px!important;margin-top:10px!important;border-bottom:none!important;display:none;}
    .tbl_For_UserSearck td {
        border: none !important;
    }
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }  
    .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        } 
    .dropdown-header > span:first-child {width: 50px;}
    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }
    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }
    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }
    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }   
    #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }
    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }
</style>

<h3 class="page-title">Account Holder <small>List</small></h3>
<div class="page-bar">
    <ul class="page-breadcrumb col-md-12">
        <li>
            <i class="fa fa-calculator"></i>
            <span>Finance</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-th-list" aria-hidden="true"></i>
            <a href="/Accounting/AccountGroup">Internal Account</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <p><span class="btn green" id="btn_acc_grp_create" data-toggle="tooltip"  title="Add New Account"><i class="fa fa-plus"></i> Add New Account</span></p>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>    <span id="headr_title" style="margin-top: 0px!important">Showing List of All Account Holders </span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered" id="tbl_Acc_search">
                    <tr>
                        <td>
                            <span class="autocomplete-wrapper">
                                <input class="text-field" id="txt_search_acc" name="txt_search_acc" placeholder="Start typing name" type="text" autocomplete="off">
                                <span class="k-icon k-i-search" style="margin-top:-25px;margin-right:10px;float:right;">&nbsp;</span>
                            </span>
                        </td>
                    </tr>
                </table>

                <div  id="Div_Acc_Group"></div>
            </div>
        </div>
    </div>
</div>


        @if (db.AccountNames.Any())
        {
            <script>
                $("#tbl_Acc_search").show();
                $("#Div_Acc_Group").show();
                $("#Div_Acc_Group").append('<div class="loading_partial"></div>');
                $("#Div_Acc_Group").load('@Url.Action("_ShowAllAcc_Group", "Accounting")');
            </script>
        }
        else
        {
            <script>
                $("#Div_Acc_Group").show();
                $("#Div_Acc_Group").append('<h3>There is no record to display</h3>');
            </script>
        }

        <div id="Win_Add_Acc_Grp"></div>
        @(Html.Kendo().Window().Name("Window_Add_Acc_Grp").Visible(false).Modal(true).Draggable(true))

        <script id="temp_for_confirmation" type="text/x-kendo-template">
            <div style="padding:1em;">
                <p style="font-size: 14px; padding: 10px"> #=message# </p>
                <div style="text-align: right;">
                    <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_confirm_ok"><span class="k-icon k-update"></span>OK</button>
                    <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_confirm_cancel"><span class="k-icon k-cancel"></span>Cancel</button>
                </div>
            </div>
        </script>
        <script>
            var message = '';
            $(document).ready(function () {
                $("#liForAccounting").addClass('active');
                $("#liForAccountGroup").addClass('sublistActive');
                $("#top_header_link").append('<span>Accounce</span><span><i class="fa fa-angle-right fa-2x"></i></span>' +
                   '<span class="current"><a href="/Accounting/AccountGroup"> All Account Name</a></span>');
                $('[data-toggle="tooltip"]').tooltip();
            });
            function onStatusChange(e) {
                var dataItem = this.dataItem(e.item);
                $("#Status").val(dataItem.Value);
            }
            $("#btn_acc_grp_create").click(function () {
                $("#Win_Add_Acc_Grp").kendoWindow({
                    actions: ["Close"],
                    draggable: true,
                    modal: true,
                    visible: false,
                    pinned: false,
                    position: { top: 100, left: 100 },
                    title: 'Add New Account Group',
                    content: "/Accounting/AddAccountGroup",
                    close: onWindowClose
                });
                $("#Win_Add_Acc_Grp").data("kendoWindow").maximize().open();
                document.documentElement.style.overflow = 'hidden';  // firefox, chrome
                document.body.scroll = "no"; // ie only
            });

            //****************************************************** Account Name Delete Function ********************************************************************************
            $("#Div_Acc_Group").on("click", ".btn_acc_grp_delete", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                var name = $(this).data("name");
                var kendoWindow = $("<div />").kendoWindow({
                    actions: ["Close"],
                    title: "Alert",
                    resizable: false,
                    width: "30%",
                    modal: true,
                    close: onWindowClose
                });
                message = "Are you sure want to delete this account name?";
                var template = kendo.template($("#temp_for_confirmation").html());
                kendoWindow.data("kendoWindow").content(template).center().open();
                document.documentElement.style.overflow = 'hidden';  // firefox, chrome
                document.body.scroll = "no"; // ie only
                kendoWindow.find("#btn_confirm_cancel").click(function () {
                    kendoWindow.data("kendoWindow").close();
                }).end();
                kendoWindow.find("#btn_confirm_ok").click(function () {
                    kendoWindow.data("kendoWindow").close();
                    deleteAccount(id, name);
                }).end();
            });

            function deleteAccount(id, name) {
                notification.show({ message: "Account name is deleting...", showTime: startTime() }, "upload-progress");
                $.ajax({
                    url: '@Url.Action("DeleteAccountName", "Accounting")',
                    type: 'Post',
                    data: { id: id, name: name, userId: userId },
                    success: function (data) {
                        notification.hide(); notification.setOptions({ autoHideAfter: 5000 });
                        if (data === "Success") {
                            notification.show({ message: "Account name '" + name + "' deletion was successful. ", showTime: startTime() }, "upload-success");
                            $("#Div_Acc_Group").empty();
                            $("#Div_Acc_Group").append('<div class="loading_partial"></div>');
                            $("#Div_Acc_Group").load('@Url.Action("_ShowAllAcc_Group", "Accounting")');

                        } else {
                            var msg = (data !== "Error") ? data : "Account name '" + name + "' deletion was successful. ";
                            notification.show({ message: msg, showTime: startTime() }, "upload-error");
                        }
                    },
                    error: function (error) {
                        notification.hide(); notification.setOptions({ autoHideAfter: 5000 });
                        notification.show({ message: "Error occurred.", showTime: startTime() }, "upload-warning");
                    }
                });
            }
            $("#Div_Acc_Group").on("click", ".btn_acc_grp_edit", function () {
                var accId = $(this).data("id");
                var kendoWindow = $("<div />").kendoWindow({
                    actions: ["Close"],
                    title: "Alert",
                    resizable: false,
                    width: "30%",
                    modal: true
                });
                message = "Are you sure want to update this account name?It may occur problem in your system.";
                var template = kendo.template($("#temp_for_confirmation").html());
                kendoWindow.data("kendoWindow").content(template).center().open();
                kendoWindow.find("#btn_confirm_cancel").click(function () {
                    kendoWindow.data("kendoWindow").close();
                }).end();
                kendoWindow.find("#btn_confirm_ok").click(function () {
                    kendoWindow.data("kendoWindow").close();
                    showPartialViewfordesignation(dId);
                    EditAccountInfo(accId);
                }).end();
            });
            $("#Div_Acc_Group").on("click", ".btn_acc_grp_info", function () {
                var accId = $(this).data("id");
                var accName = $(this).data("name");
                $("#Win_Add_Acc_Grp").empty();

                var window = $("#Window_Add_Acc_Grp").data("kendoWindow");
                window.setOptions({
                    width: '50%',
                    height: '45%',
                    title: 'Account Name ' + name + ' Details Inforamtion',
                    close: onWindowClose
                });
                $("#Window_Add_Acc_Grp").html('<div class="win_loading_half"></div>');
                window.refresh({ url: "/Accounting/AccountInfo?AccId=" + accId });
                window.center().open();
                document.documentElement.style.overflow = 'hidden';  // firefox, chrome
                document.body.scroll = "no"; // ie only
            });

            $("#Div_Acc_Group").on("click", ".btn_acc_grp_details", function () {
                var accId = $(this).data("id");
                location.href = '@Url.Action("AccountDetails", "Accounting")?q='+getDataEncrypted("AccId=" + accId);
            });
        </script>
        <script>
            var SiteId = 0;
            var UnitSalary = 0;
            //************************** Account Type Change Function ******************************************
            function onAccountType(e) {
                var dataItem = this.dataItem(e.item);
                if (dataItem.Value > 0) {
                    @*if (dataItem.Value === "1") {
                $("#Div_Appn_Site").empty();
                $("#Div_Appn_Site").append('<div class="col-xs-12" style="float:left;">'+
                   '<div class="editor-label"><label for="SiteName">Site Name</label></div>' +
                   '<div class="editor-field">'+
                       '<label id="site_salary" style="width:100%;"></label>' +
                       '<span class="field-validation-valid text-danger" data-valmsg-for="site_salary" data-valmsg-replace="true"></span></div>' +
                   '</div>' +
               '</div><div id="Div_salary_unit"></div>');
                $("#site_salary").kendoDropDownList({
                    dataTextField: "SiteName",
                    dataValueField: "SiteId",
                    change: onSalarySiteChange,
                    optionLabel: "--Select One Site--",
                    dataSource: { transport: { read: { url: "@Url.Action("AllSiteList", "Accounting")", type: "GET" } } }
                });
            } else if (dataItem.Value === "2") {
                $("#Div_Appn_Site").empty();
                $("#Div_Appn_Site").append('<div class="col-xs-12" style="float:left;">'+
                  '<div class="editor-label"><label for="SiteName">Site Name</label></div>' +
                  '<div class="editor-field">'+
                      '<label id="site_utility" style="width:100%;"></label>' +
                      '<span class="field-validation-valid text-danger" data-valmsg-for="site_utility" data-valmsg-replace="true"></span></div>' +
                  '</div>' +
              '</div>');
                $("#site_utility").kendoDropDownList({
                    dataTextField: "SiteName",
                    dataValueField: "SiteId",
                    optionLabel: "--Select One Site--",
                    dataSource: { transport: { read: { url: "@Url.Action("AllSiteList", "Accounting")", type: "GET" } } }
                });
            }
            else if (dataItem.Value === "3") {
                $("#Div_Appn_Site").empty();
                $("#Div_Appn_Site").append('<div class="col-xs-12" style="float:left;">'+
                  '<div class="editor-label"><label for="SiteName">Dept/Store/Ware</label></div>' +
                  '<div class="editor-field">'+
                      '<label id="site_Cash" style="width:100%;"></label>' +
                      '<span class="field-validation-valid text-danger" data-valmsg-for="site_Cash" data-valmsg-replace="true"></span></div>' +
                  '</div>' +
                 '</div>');
                $("#site_Cash").kendoMultiSelect({
                    placeholder: "Type dept/store/warehouse name....",
                    dataTextField: "Name",
                    dataValueField: "IdWithChar",
                    dataSource: { transport: { read: { url: "@Url.Action("AllStoreWareDept", "Accounting")?", type: "GET" } } }
                });
            }*@
                }
            };

            //************************** Salary Site Change Function ******************************************
            function onSalarySiteChange(e) {
                var dataItem = this.dataItem(e.item);
                if (dataItem.IsComposite) {
                    UnitSalary = 0;
                    $("#Div_salary_unit").append('<div class="col-xs-12" style="float:left;">' +
                       '<div class="editor-label"><label for="UnitName">Unit Name</label></div>' +
                       '<div class="editor-field">' +
                           '<label id="unit_salary" style="width:100%;"></label>' +
                           '<span class="field-validation-valid text-danger" data-valmsg-for="site_salary" data-valmsg-replace="true"></span></div>' +
                       '</div>' +
                    '</div>');

                    $("#unit_salary").kendoDropDownList({
                        dataValueField: "UnitId",
                        dataTextField: "UnitName",
                        optionLabel: "--Select One--",
                        change: onSalaryUnitChange,
                        dataSource: {
                            transport: { read: { url: "@Url.Action("AllUnitList", "Accounting")?siteId=" + dataItem.SiteId, type: "GET" } }
                        }
                    });

                } else {
                    $("#Div_salary_unit").empty();
                    UnitSalary = 0;
                }
            };

            function onSalaryUnitChange(e) {
                var dataItem = this.dataItem(e.item);
                if (dataItem.UnitId > 0) {
                    UnitSalary = dataItem.UnitId;
                }
                else {
                    UnitSalary = 0;
                }
            }
</script>
        <script>
            var isloadFirstTime = false;
            $(function () {
                $("#txt_search_acc").autocomplete({
                    minLength: 0,
                    source: function (request, response) {
                    content = $.trim(request.term);
                    $.ajax({
                        url: '@Url.Action("GetAllAccName", "Accounting")',
                        type: "POST",
                        dataType: "json",
                        data: { prefix: content },
                        success: function (data) {
                            response($.map(data, function (item) {
                            return { label: item.AccountName1, value: item.AccountName1, id: item.AccId };
                        }))
                    }
                })
            },
            minLength: 1,
            select: function (event, ui) {
                isloadFirstTime = true;
                var selectTextId = ui.item.id;
                $("#Div_Acc_Group").load('@Url.Action("_ShowAllAcc_Group", "Accounting")?AccId=' + selectTextId);
            },
        })
    .keyup(function () {
        if ($.trim($("#txt_search_acc").val()) == "") {
            showCount = 20; page = 0;
            $("#Div_Acc_Group").load('@Url.Action("_ShowAllAcc_Group", "Accounting")');
        }
    })
    .autocomplete("instance")._renderItem = function (ul, item) {
        var term = $.trim(this.term);
        var re = new RegExp("(" + term + ")", "gi"),
                   cls = "bold-text",
                   template = "<span class='" + cls + "'>$1</span>",
                   label = item.label.replace(re, template),
                   $li = $("<li/>").appendTo(ul); $("<a/>").attr("href", "#")
                 .html(label)
                 .appendTo($li); return $li;
    };
    });
</script>

