

@using FactoryManagement.Helpers
@********************* Created By Jerin Jahan (Date: 07.05.2017) ****************************@
@model IEnumerable<FactoryManagement.Models.View_Machine_Parts>
@{
    int count = 1;
   FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr role="row">
                <th width="5%">#</th>
                <th width="25%">Parts Name</th>
                <th width="25%">Machine Name</th>
                <th width="30%">Replaceable Date</th>
                <th width="15%">Left Day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model)
            {
                //int id = db.Inventory_Item_Location.Where(m => m.LocationId == list.InvenLocId).Select(m => m.InventoryId).FirstOrDefault();
                <tr>
                    <td>@count.</td>
                    @*<td><a href="@Html.EncodedParam("StoreProductDetails", "StoreProduct", new { id = id }, null)" target="_blank">@list.ProductName</a></td>*@
                    <td>@list.ProductName</td>
                    <td><a href="@Html.EncodedParam("MachineDetails", "Inventory", new { machineId = list.MachineId }, null)" target="_blank">@list.MachineAcronym</a></td>
                    <td>@list.ReplaceDateName</td>
                    <td>@list.Left_Day</td>
                </tr>
                count++;
            }

        </tbody>
    </table>
}
else
{
    <h4>There is no record to display</h4>
}

