




@********************* Created By Jerin Jahan (Date: 13-11-2016) ****************************@

@model IEnumerable<FactoryManagement.Models.View_All_Salary_Pay_His>
@using FactoryManagement.Helpers;
@{
    int count = 1;
    var currency = Request.Cookies["CookieAdminInfo"].Values["currencySymbol"].ToString();
}
<style>
    .hrefText {
        cursor: pointer;
        color: #5b9bd1;
    }
</style>
<table class="table bootstrap-datatable datatable small-font dataTable no-footer" id="DataTables_Table_0" role="grid">
    <thead>
        <tr role="row">
            <th width="3%">#</th>
            <th width="5%">Payment Type</th>
            <th width="22%">User Name</th>
            <th width="15%">Amount</th>
            <th width="23%">Paid By</th>
            <th width="20%">Paid Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>@count.</td>
                <td>
                    @if (list.PayType == 1)
                    {
                        <span>Cash</span>
                    }
                    else if (list.PayType == 2)
                    {
                        <span>Cheque</span>
                    }
                    else
                    {
                        <span>Account</span>
                    }
                </td>
                <td>@Html.EncodedActionLink(list.UserName, "DisplayEmployeeDetails", "HumanResource", new { UserId = list.UserId,isDisplay=true }, null)</td>
                <td class="hrefText" data-id="@list.Id">@currency @list.Amount </td>
                <td>
                    @Html.EncodedActionLink(list.InsertUser, "DisplayEmployeeDetails", "HumanResource", new { UserId = list.InsertBy, isDisplay = true }, null)
                </td>
                <td>@Convert.ToDateTime(list.InsertedDate).ToString("MMM dd, yyyy hh:mm:tt")</td>
            </tr>
                    count++;
        }
    </tbody>
</table>



@*<ul class="feeds">
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-success">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            Finance Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-danger">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New order received with <span class="label label-sm label-success">
                            Reference Number: DR23923
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                30 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
                            Overdue
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                2 hours
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-default">
                            <i class="fa fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            IPO Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 4 pending tasks. <span class="label label-sm label-warning ">
                            Take action <i class="fa fa-share"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-danger">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            Finance Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New order received with <span class="label label-sm label-success">
                            Reference Number: DR23923
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                30 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-warning">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
                            Overdue
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                2 hours
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:;">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-info">
                            <i class="fa fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            IPO Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
</ul>*@