

@******************************** Created By Mabia (Date:29.08.2016) *********************************@

@{
    var count = 1;
}

<table class="table table-bordered tableForAcquisitionList">
    <tbody>
        <tr>
            <th width="3%">#</th>
            <th width="25%">Name</th>
            <th width="20%">Created By</th>
            <th width="10%">Created Date</th>
            <th width="15%">Status</th>
            <th width="25%"></th>
        </tr>

        @foreach (var item in ViewBag.AcquisitionOrderList as IEnumerable<FactoryManagement.ModelView.Acquisition.AcquisitionViewModel>)
        {
            <tr>
                <th scope="row">@count</th>
                <td><a href="/Acquisition/AcquisitionOrderDetails?AcqOrderId=@item.AcquisitionOrderId">@item.Name</a></td>
                <td>
                    @if (item.CreatedBy == 1)
                    {
                        <img src="~/Images/UserPicture/thumb/admin.jpg" class="user-photo" /><span> Super Admin</span>
                    }
                    else
                    {
                        FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
                        var user = db.View_UserLists.Where(m => m.UserType == 1 && m.UserId == item.CreatedBy).FirstOrDefault();
                        <img src="~/Images/UserPicture/thumb/@user.Picture" class="user-photo" />
                        <span><a href="/HumanResource/DisplayEmployeeDetails?UserId=@item.CreatedBy&userType=1">@user.UserName</a></span>
                    }
                </td>
                <td>@Convert.ToDateTime(item.CreatedDate).ToString("MMM dd yyyy")</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @if (item.AcquisitionStatus < 1)
                    {
                        <span data-id="@item.AcquisitionOrderId"
                              data-type="@item.AcquisitionType"
                              data-busiid="@item.BusinessOrderId"
                              data-partsid="@item.PartsId"
                              data-machineid="@item.MachineId"
                              style="cursor:pointer;"
                              class="k-button k-state-default btnAcqOrderEdit">
                            <span class="fa fa-pencil-square-o"> Edit</span>
                        </span>
                        <span data-id="@item.AcquisitionOrderId" 
                              data-type="@item.AcquisitionType" 
                              data-busiid="@item.BusinessOrderId" 
                              style="cursor:pointer;" 
                              class="k-button k-state-default btnAcqOrderDelete">                          
                            <span class="fa fa-trash"> Delete</span>
                        </span>
                        <span data-id="@item.AcquisitionOrderId" 
                               data-status="1" data-type="@item.AcquisitionType" 
                              style="cursor:pointer;" 
                              class="k-button k-state-default btnapproveAcqOrder">                          
                            <span class="fa fa-check"> Approve</span>
                        </span>
                        <span data-id="@item.AcquisitionOrderId" 
                              data-status="-2" data-type="@item.AcquisitionType"
                              style="cursor:pointer;" 
                              class="k-button k-state-default btnrejectAcqOrder">                          
                            <span class="fa fa-remove"> Reject</span>
                        </span>
                    }
                    @if (item.AcquisitionStatus == 1)
                    {
                        <span data-id="@item.AcquisitionOrderId"
                              data-status="2" data-type="@item.AcquisitionType"
                              style="cursor:pointer;"
                              class="k-button k-state-default btnapproveAcqOrder">
                            <span class="fa fa-check"> Approve</span>
                        </span>

                        <span  data-id="@item.AcquisitionOrderId"
                               data-status="-2" data-type="@item.AcquisitionType" 
                              style="cursor:pointer;" 
                              class="k-button k-state-default btnrejectAcqOrder">                          
                            <span class="fa fa-remove"> Reject</span>
                        </span>
                    }
                    <a href="/Acquisition/AcquisitionOrderDetails?AcqOrderId=@item.AcquisitionOrderId">
                        <span class="k-button k-state-default"><span class="fa fa-info btnDetailsAcqOrder" data-id="@item.AcquisitionOrderId"> Details</span></span>
                    </a>
                </td>
            </tr>  
            count++;
        }
    </tbody>
</table>