


@************************************** Created By Jerin Jahan (Date:30.10.2016)  ***************************************@
@{
    DateTime now = DateTime.Now;
}
<input type="hidden" id="SalaryPayType" value="0" />
<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="width:98%!important;" id="div_Salary_pay_option">
    <div style="text-align:right;width:100%!important;margin-bottom:2%!important;">
        <p style="font-weight:bolder;">Date: @now.ToString("MMM dd, yyy")</p>
        <p style="font-weight:bold;" id="headPayMonth"></p>
    </div>
    <div class="col-sm-6" style="float:left;" id="div_Salary_pay_option_left"><div class="loading_half"></div></div>
    <script>
        if ('@(ViewBag.PayType)' === 'Current') {
            var sendData = { userId: '@(ViewBag.userId)', userType: '@(ViewBag.userType)' };
            $("#div_Salary_pay_option_left").load('@Url.Action("SalaryPayOption", "HumanResource")', sendData);
        } else {
            var sendData = { userId: '@(ViewBag.userId)', userType: '@(ViewBag.userType)' };
            $("#div_Salary_pay_option_left").load('@Url.Action("SalaryDuePayOption", "HumanResource")', sendData);
        }
    </script>
    <div class="col-sm-5" id="div_selected_UsrInfo" style="float:left;border-left:1px solid #ddd;"><div class="loading_half"></div></div>
    <script>
        if ('@(ViewBag.PayType)' === 'Current') {
            var sendData = { userId: '@(ViewBag.userId)', userType: '@(ViewBag.userType)' };
            $("#div_selected_UsrInfo").load('@Url.Action("ShowUserCurrentSalary", "HumanResource")', sendData);
        } else {
            var sendData = { userId: '@(ViewBag.userId)', userType: '@(ViewBag.userType)' };
            $("#div_selected_UsrInfo").load('@Url.Action("ShowUserDueDetails", "HumanResource")', sendData);
        }
    </script>
    <div class="k-edit-buttons k-state-default col-xs-11">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_Payment_Save">
            <span class="k-icon k-update"></span>Confirm
        </button>
        <button type="reset" class="k-button k-button-icontext k-grid-cancel" id="btn_Payment_Cancle">
            <span class="k-icon k-cancel"></span>Cancel
        </button>
    </div>
</div>
<script>
    selectedUserId = '@(ViewBag.userId)'; selectedUserType = '@(ViewBag.userType)';
    var windowHeight = $(window).height() - $(".navbar-fixed-top").height()- $(".navbar-fixed-top").height();
    $("#div_Salary_pay_option").css('min-height', windowHeight);
</script>