@******************** Created By Kaikubad(Date:25.01.2017) **************************@
<div class="col-sm-12" style="padding-left:0px!important;padding-right:0px!important;">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                @if (ViewBag.WorkingSchedule > 0)
                {
                    <li class="active"><a href="#tab1workscdl" data-toggle="tab">Working Schedule</a></li>
                }
                else
                {
                    <li class="active"><a href="#tab1workscdl" data-toggle="tab">Assign Working Schedule</a></li>
                }
            </ul>
        </div>
        <div class="panel-body" style="border:none!important;">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1workscdl"></div>
            </div>
        </div>
    </div>
</div>
<div id="#win_Work_Schedule_change"></div>
<script>
    $(document).ready(function () {
        var isDisplay='@(ViewBag.isDisplay)';
        if ('@(ViewBag.WorkingSchedule)' == 0) {
            if(isDisplay=="True")
            {
                $("#tab1workscdl").append('<div class="control-label col-md-3 col-sm-3"> No working schedule assigned</div>');
            }else{
                $("#tab1workscdl").append('<div class="loading_half"></div>');
                $("#tab1workscdl").load('@Url.Action("AssignWorkingSchedule", "HumanResource")');
            }
        }
        else {
            if(isDisplay=="True"){
                $("#tab1workscdl").append('<div class="loading_half"></div>');
                $("#tab1workscdl").load('@Url.Action("SelectedSchedule", "HumanResource")?id=' +@ViewBag.WorkingSchedule +'&reason=new&UserId=' + EmpId + "&view=display");
            }else{
                $("#tab1workscdl").append('<div class="loading_half"></div>');
                $("#tab1workscdl").load('@Url.Action("SelectedSchedule", "HumanResource")?id=' +@ViewBag.WorkingSchedule +'&reason=edit&UserId=' + EmpId + "&view=display");
            }
        }
    });
    $("#tab1workscdl").on("click", "#changeSchedule_btn", function () {
        var id = $(this).data("id");
        $("#win_Work_Schedule_change").empty();
        $("#win_Work_Schedule_change").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '60%',
            height:'50%',
            title: 'Change Working Schedule',
            close:onWindowClose
        });
        $("#win_Work_Schedule_change").html('<div class="partial_loading_half"></div>');
        var win_Work_Schedule_change = $("#win_Work_Schedule_change").data("kendoWindow");
        win_Work_Schedule_change.refresh({ url: "/HumanResource/ChangeWorkingSchedule?id=" + id });
        win_Work_Schedule_change.center().open();
        document.documentElement.style.overflow = 'hidden';  // firefox, chrome
        document.body.scroll = "no"; // ie only
    });
</script>