

@************************************** Created By Jerin Jahan (Date:08.11.2016)  ***************************************@

@model FactoryManagement.ModelView.HR.AllUserLoanListModelView


<input type="hidden" id="SalaryPayType" value="0" />

<div style="float:left;width:100%;">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="PackageName">Payment Dispatch By</label>
    </div>
    <div class="editor-field" style="padding-top:5px;">
        <div style="width:100%;">
            <input id="Cash" name="AccPayTyp" type="radio" value="Cash" class="k-valid"> Cash
            <input id="Check" name="AccPayTyp" type="radio" value="Check" class="k-valid"> Cheque
        </div>
        <span class="field-validation-valid text-danger" data-valmsg-for="AccPayTyp" data-valmsg-replace="true"></span>
    </div>
</div>
<div id="Div_for_Cash" style="display:none;float:left;width:100%;"></div>
<div id="Div_for_Check" style="display:none;width:100%;"></div>
<div id="div_for_Account" style="display:none;">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="PackageName">Payment In </label>
    </div>
    <div class="editor-field">
        <input id="AccCash" name="AccPayType" type="radio" value="Cash" class="k-valid"> Cash
        <input id="AccCheck" name="AccPayType" type="radio" value="Check" class="k-valid"> Cheque
        <span class="field-validation-valid text-danger" data-valmsg-for="AccPayType" data-valmsg-replace="true"></span>
    </div>
</div>
<div style="float:left;width:100%;display:none;" id="div_Bank_acc_Slip">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="BankAccSlipNo">Bank A/C Slip No.</label>
    </div>
    <div class="editor-field" style="padding-top:5px;">
        @Html.EditorFor(model => model.BankAccSlipNo, new { htmlAttributes = new { @class = "form-control k-textbox", } })
        @Html.ValidationMessageFor(model => model.BankAccSlipNo, "", new { @class = "text-danger" })
    </div>
</div>
<div style="float:left;width:100%;">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="Amount">Amount</label>
    </div>
    <div class="editor-field" style="padding-top:5px;">
        <input class="k-textbox"
               type="number" min="1" data-val-required="Please enter amount"
               id="txt_Loan_Amount" name="txt_Loan_Amount" value="">
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>
</div>
<div style="float:left;width:100%;">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="Amount"></label>
    </div>
    <div class="editor-field" style="padding-top:5px;">
        @Html.CheckBox("DeductionFromSalary", new { @onchange = "DeductAmnt(this);" }) Amount Deduct From Salary
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>
</div>
<div style="float:left;width:100%;display:none;" id="Div_Deduct_Amnt">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="Amount">Amount</label>
    </div>
    <div class="editor-field" style="padding-top:5px;">
        <input class="k-textbox"
               type="number" min="1"
               id="txt_Deduct_Amount" name="txt_Deduct_Amount" value="">
        <span class="field-validation-valid text-danger" data-valmsg-for="txt_Deduct_Amount" data-valmsg-replace="true"></span>
    </div>
</div>

<div style="float:left;width:100%;" id="Div_Load_DeadLine">
    <div class="editor-label" style="margin-left:2em!important;width:30%!important;">
        <label for="Amount">Loan Amount Return Deadline </label>
    </div>
    <div class="editor-field" style="padding-top:5px;">
           @(Html.Kendo().DateTimePicker()
              .Name("LoanAmntReturnDeadLine")
              .Value(DateTime.Today)
              .Min(DateTime.Today)
              .ParseFormats(new string[] { "MM/dd/yyyy" })
              .HtmlAttributes(new { style = "width:100%;" })
        )
        <span class="field-validation-valid text-danger" data-valmsg-for="LoanAmntReturnDeadLine" data-valmsg-replace="true"></span>
    </div>
</div>

<script>
    $("#Cash").click(function () {
        if ($(this).is(":checked")) {
            $("#SalaryPayType").val(1);
            $("#div_for_Account").hide();
            $("#Div_for_Check").hide();
            $("#div_Bank_acc_Slip").hide();
            $("#Div_for_Check").empty();
            $("#Div_for_Cash").empty();
            $("#Div_for_Cash").append('<div class="editor-label" style="margin-left:2em!important;width:30%!important;">' +
            '<label for="InernalAccId">Account Name</label></div>'+
            '<div class="editor-field">'+
            '<input id="InernalAccId" name="InernalAccId" style="width: 100%;" />'+
            '<span class="field-validation-valid text-danger" data-valmsg-for="InernalAccId" data-valmsg-replace="true"></span>'+
            '</div>');

            $("#InernalAccId").kendoDropDownList({
                dataTextField: "AccountName",
                dataValueField: "AccId",
                optionLabel: "--Select One--",
                change: onInternalAccChange,
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("AllAccountList", "HumanResource")?userId=" + userId, type: "GET"
                        }
                    }
                }
            });
            $("#Div_for_Cash").show();
        }
    });
    $("#Check").click(function () {
        if ($(this).is(":checked")) {
            $("#SalaryPayType").val(2);
            $("#div_for_Account").hide();
            $("#Div_for_Cash").hide();
            $("#Div_for_Check").empty();
            $("#Div_for_Check").append('<div style="width:100%;">' +
                                       '<div class="editor-label" style="margin-left:2em!important;width:30%!important;">' +
                                       '<label for="PackageName">Bank</label></div>' +
                                       '<div class="editor-field">' +
                                       '<input id="BankId" name="BankId" style="width: 100%;" />' +
                                       '<span class="field-validation-valid text-danger" data-valmsg-for="BankId" data-valmsg-replace="true">' +
                                       '</span></div>' +
                                       '<div id="Div_For_Bank_Branch" style="float:left;width:100%;"></div>');
            $("#BankId").kendoDropDownList({
                dataTextField: "BankName",
                dataValueField: "BankId",
                change: onBankNameChange,
                optionLabel: "--Select One--",
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("AllBankList", "HumanResource")", type: "GET"
                        }
                    }
                }
            });
            $("#Div_for_Check").show();
        }
    });


    $("#Account").click(function () {
        if ($(this).is(":checked")) {
            $("#SalaryPayType").val(3);
            $("#div_for_Account").show();
            $("#Div_for_Cash").hide(); $("#Div_for_Check").empty();
        }
    }); 
</script>

<script>
    $("#txt_Loan_Amount").change(function () {
        if (parseFloat($(this).val()) > parseFloat(highest_amnt)) {
            var showData = 'Selected account highest amount for per transaction is ' + highest_amnt + ' ' + Currency + '.Loan amount can not be greater than ' + highest_amnt + Currency;
            var kendoWindow = $("<div />").kendoWindow({
                actions: ["Close"],
                title: "Alert",
                resizable: false,
                modal: true
            });

            var template = kendo.template($("#temp_win_For_Alert").html());
            kendoWindow.data("kendoWindow").content(template(showData)).center().open();

            kendoWindow.find("#temp_win_Ok").click(function () {
                kendoWindow.data("kendoWindow").close();
            }).end()
            $("#txt_Loan_Amount").val('');
        }
    });
    $("#txt_Deduct_Amount").change(function () {
        if ($("#txt_Loan_Amount").val() === '') {
            var showData = 'First type loan amount.';
            var kendoWindow = $("<div />").kendoWindow({
                actions: ["Close"],
                title: "Alert",
                resizable: false,
                modal: true
            });

            var template = kendo.template($("#temp_win_For_Alert").html());
            kendoWindow.data("kendoWindow").content(template(showData)).center().open();

            kendoWindow.find("#temp_win_Ok").click(function () {
                kendoWindow.data("kendoWindow").close();
            }).end()
            $("#txt_Deduct_Amount").val('');
        } else {
            if (parseFloat($(this).val()) > parseFloat($("#txt_Loan_Amount").val())) {
                var showData = 'This deduction amount can not be greater than ' + $("#txt_Loan_Amount").val() + Currency + '.';
                var kendoWindow = $("<div />").kendoWindow({
                    actions: ["Close"],
                    title: "Alert",
                    resizable: false,
                    modal: true
                });

                var template = kendo.template($("#temp_win_For_Alert").html());
                kendoWindow.data("kendoWindow").content(template(showData)).center().open();

                kendoWindow.find("#temp_win_Ok").click(function () {
                    kendoWindow.data("kendoWindow").close();
                }).end()
                $("#txt_Deduct_Amount").val('');
            }
        }

    });
    $("#btn_LoanGive_Save").click(function () {
        var validation = $("#div_Loan_pay_option_left").kendoValidator({
            rules: {
                option: function (input) {
                    if (input.attr('name') === "AccPayTyp" && $("#SalaryPayType").val() === '0') {
                        return false;
                    }
                    return true;
                },
                Internal: function (input) {
                    if (input.attr('name') === 'InernalAccId' && $("#Cash").is(":checked") && $("#InernalAccId").val() === '') {
                        return false;
                    }
                    return true;
                },
                BankName: function (input) {
                    if (input.attr('name') === 'BankId' && $("#Check").is(":checked") && $("#BankId").val() === '') {
                        return false;
                    }
                    return true;
                },
                BankAccId: function (input) {
                    if (input.attr('name') === 'BankAccId' && $("#Check").is(":checked") && $("#BankAccId").val() === '') {
                        return false;
                    }
                    return true;
                },
                BankAccSlipNo: function (input) {
                    if (input.attr('name') === 'BankAccSlipNo' && $("#Check").is(":checked") && $("#BankAccSlipNo").val() === '') {
                        return false;
                    }
                    return true;
                },
                DeductAmnt: function (input) {
                    if (input.attr('name') === 'txt_Deduct_Amount' && $("#DeductionFromSalary").is(":checked") && $("#txt_Deduct_Amount").val() === '') {
                        return false;
                    }
                    return true;
                },
                LoanAmntReturnDeadLine: function (input) {
                    if (input.attr('name') === 'LoanAmntReturnDeadLine' && !$("#DeductionFromSalary").is(":checked") && $("#LoanAmntReturnDeadLine").val() === '') {
                        return false;
                    }
                    return true;
                }
            },
            messages: {
                option: "Please select one",
                Internal: "Please select one",
                BankName: "Please select one",
                BankAccId: "Please select one",
                BankAccSlipNo: "Please enter slip number",
                DeductAmnt: "Please type amount",
                LoanAmntReturnDeadLine: "Enter loan return dead line"
            }
        }).data("kendoValidator");
        if (validation.validate()) {
            var sendData = {
                UserId: selectedUserId,
                UserType: selectedUserType,
                PayType: $("#SalaryPayType").val(),
                Amount: $("#txt_Loan_Amount").val(),
                InernalAccId: internal_AccId,
                BankId: bankId,
                BankAccId: banlAccId,
                BankAccSlipNo: $("#BankAccSlipNo").val(),
                DeductionFromSalary: $("#DeductionFromSalary").is(":checked"),
                DeductAmountPerMonth: $("#txt_Deduct_Amount").val(),
                LoanAmntReturnDeadLine: $("#LoanAmntReturnDeadLine").val(),
                LoanPaidBy: userId,
                username: username,
                currency: Currency
            };
            $.ajax({
                url: '@Url.Action("GiveSingleUserLoan", "HumanResource")',
                type: 'Post',
                data: sendData,
                success: function (data) {
                    if(data !== "Error"){
                        $("#btn_LoanGive_Save").closest(".k-window-content").data("kendoWindow").close();
                        $("#WinForGiveLoan").empty();
                        $("#Div_All_Usr").empty();
                        $("#Div_All_Usr").append('<div class="loading_partial"></div>');
                        $("#Div_All_Usr").load("_UserListForLoan", "HumanResource");
                    }else{
                        var showData = 'Error occured.';
                        var kendoWindow = $("<div />").kendoWindow({
                            actions: ["Close"],
                            title: "Alert",
                            resizable: false,
                            modal: true
                        });

                        var template = kendo.template($("#temp_win_For_Alert").html());
                        kendoWindow.data("kendoWindow").content(template(showData)).center().open();

                        kendoWindow.find("#temp_win_Ok").click(function () {
                            kendoWindow.data("kendoWindow").close();
                        }).end()
                    }
                },
                error: function (xhr) {
                    var showData = 'Error occured.';
                    var kendoWindow = $("<div />").kendoWindow({
                        actions: ["Close"],
                        title: "Alert",
                        resizable: false,
                        modal: true
                    });

                    var template = kendo.template($("#temp_win_For_Alert").html());
                    kendoWindow.data("kendoWindow").content(template(showData)).center().open();

                    kendoWindow.find("#temp_win_Ok").click(function () {
                        kendoWindow.data("kendoWindow").close();
                    }).end()
                }
            });

        }
    });
</script>
