


@model IEnumerable<FactoryManagement.ModelView.Inventory.Store.View_Dispacth_Item_DetailsModelView>
@{
    int tabcount = 1,divcount = 1;
    ViewBag.Title = "InventoryItemDispatchDeptWise";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-basket"></i>
            <span>Inventory</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-th-list"></i>
            <a href="/StoreProduct/InvenDisVoucherList">Item Dispatch History</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-th-list"></i>
            <a href="/Inventory/InventoryItemDispatchDeptWise">Department  Wise</a>
        </li>
    </ul>
</div>
<div class="note note-success"><p id="h4title">All Dispatched History</p></div>
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-ul font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Dispatch History <small>Department Wise</small></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons" id="Div_Upper_Portion">
                        <label class="btn btn-transparent green btn-outline btn-circle btn-sm active" id="btn_All" data-toggle="tooltip" title="All History" data-container="body">
                            <input type="radio" name="options" class="toggle">All
                        </label>
                        <label class="btn btn-transparent green btn-outline btn-circle btn-sm" id="btn_today" data-toggle="tooltip" title="Today History" data-container="body">
                            <span><input type="radio" name="options" class="toggle">Today</span>
                        </label>
                        <label class="btn btn-transparent green btn-outline btn-circle btn-sm" id="btn_last_seven" data-toggle="tooltip" title="Last 7 days History" data-container="body">
                            <input type="radio" name="options" class="toggle">Last 7 Days
                        </label>
                        <label class="btn btn-transparent green btn-outline btn-circle btn-sm" id="btn_last_thirty" data-toggle="tooltip" title="Last 30 day History" data-container="body">
                            <input type="radio" name="options" class="toggle">Last 30 Days
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active" id="liForAll"><a href="#tabAll" data-toggle="tab">All</a></li>
                            @foreach (var d in Model)
                            {
                                tabcount++;
                                <li class="liForUname" data-count="@tabcount" data-uid="@d.DeptId" data-uname="@d.DeptName_Unit" id="li_@d.DeptId"><a href="#tab_@tabcount" data-toggle="tab">@d.DeptName_Unit</a></li>
                            }

                        </ul>
                    </div>
                    <div class="panel-body" style="border:none!important;" id="div_for_panel_body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tabAll"></div>
                            @foreach (var d in Model)
                            {
                                divcount++;
                                <div class="tab-pane fade tab_@d.DeptId" id="tab_@divcount" data-count="@divcount"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var showCount = 0, totalCount = 0, page = 0, inCallback = false, days = 0, tab = 0, uid = 0, uname = "";
    $(document).ready(function () {
        $("#liForInventory").addClass('active');
        $("#liForDisVouHis").addClass('sublistActive');
        $("#tabAll").append('<div class="loading_partial"></div>');
        $("#tabAll").load('@Url.Action("_DeptWiseDispatchList", "StoreProduct")?v=all');
    });
    $(window).scroll(function () {
        var countBytype, result;
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (parseInt(showCount) < parseInt(totalCount)) {
                if (page > -1 && !inCallback) {
                    inCallback = true;
                    page++;
                    $("div#loading").show();
                    loadMoreData(page);
                }
            }
        }
    });
    function loadMoreData(page) {
        $.ajax({
            type: 'GET',
            url: '/StoreProduct/GetMachineDisHis',
            data: { page: page },
            success: function (data) {
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                if (data != '') {
                    for (var i = 0; i < data.length; i++) {
                        showCount++;
                        $("table#tbl_All_his_machine").append('<tr><th>' + showCount + '.</th>' +
                        '<td><span style="color:#428bca;cursor:pointer;" class="machineDetails" data-id="' + data[i].machineid + '" >' + data[i].MachineName + '</span></td>' +
                            '<td>' + ((data[i].DispatchedBy != null) ? ((data[i].DispatchedBy > 0) ? '<img class="img-circle" src="/Images/UserPicture/thumb/' + data[i].DispatchedUserPic + '">' +
                            '<a href="/HumanResource/DisplayEmployeeDetails?q=' + getDataEncrypted("UserId=" + data[i].DispatchedBy + "?isDisplay=true") + '">' + data[i].DispatchedUserName + '</a>' : '<img class="user-photo" src="/Images/UserPicture/thumb/' + data[i].DispatchedUserPic + '">' +
                        '<span>' + data[i].DispatchedUserName + '</span>') : '<span>Not approved yet</span>') +
                        '</td>' +
                         '</td></tr>');
                    }
                }
                else {
                    page = -1;
                }
                inCallback = false;
                $("#loading").hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(error);
            }
        });
    }
    $("#liForAll").click(function () {
        tab = 0, uid = 0;
        $("#tabAll").empty();
        $("#tabAll").append('<div class="loading_partial"></div>');
        $("#tabAll").load('@Url.Action("_DeptWiseDispatchList", "StoreProduct")?v=all');
    });
    $(".liForUname").click(function () {
        var count = $(this).data("count");
        uid = $(this).data("uid");
        uname = $(this).data("uname");
        tab = count;
        $("#tab_" + count).empty();
        $("#tab_" + count).append('<div class="partial_loading_half"></div>');
        if (days == 0) {
            $("#h4title").text("Showing " + uname + "'s All Dispatched History");
            $("#tab_" + count).load('@Url.Action("_DeptWiseDispatchList", "StoreProduct")?dId=' + uid);
        }
        else {
            if (days == 1) {
                $("#h4title").text("Showing Today's " + uname + " All Dispatched History");
            }
            else {
                $("#h4title").text("Showing Last " + days + " Days " + uname + " All Dispatched History");
            }
            passdata = { days: days, dId: uid };
            $("#tab_" + count).load('@Url.Action("_DeptWiseDispatchList", "StoreProduct")', passdata);
        }
    });

    $("#Div_All_His_Dept_wise").on("click", ".deptDetails", function (e) {
        e.preventDefault();
        var deptid = $(this).data("id");
        $("#win_dept_history").empty();
        $("#win_dept_history").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: '70%',
            height: '50%',
            title: ' Department Details'
        });
        $("#win_dept_history").html('<div class="win_loading_half"></div>');
        var win_dept_history = $("#win_dept_history").data("kendoWindow");
        win_dept_history.refresh({ url: "/StoreProduct/ShowInvenDispacthDeptDetails?deptid=" + deptid });
        win_dept_history.center().open();
    });
</script>
<script>
    $("#btn_today").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 1 };
        $("#Div_All_His_Dept_wise").empty();
        $("#Div_All_His_Dept_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Today's Dispatched History (Department Wise)");
        $("#Div_All_His_Dept_wise").load('@Url.Action("_InventoryItemDispatchDeptWiseDayWise", "StoreProduct")', passdata);
        days = 1;
    });
    $("#btn_last_seven").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 7 };
        $("#Div_All_His_Dept_wise").empty();
        $("#Div_All_His_Dept_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Last 7 Days Dispatched History");
        $("#Div_All_His_Dept_wise").load('@Url.Action("_InventoryItemDispatchDeptWiseDayWise", "StoreProduct")', passdata);
        days = 7;
    });
    $("#btn_last_thirty").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        passdata = { days: 30 };
        $("#Div_All_His_Dept_wise").empty();
        $("#Div_All_His_Dept_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing Last 30 Days Dispatched History (Department Wise)");
        $("#Div_All_His_Dept_wise").load('@Url.Action("_InventoryItemDispatchDeptWiseDayWise", "StoreProduct")', passdata);
        days = 30;
    });
    $("#btn_All").click(function () {
        var passdata = '';
        showCount = 0, totalCount = 0, page = 0;
        $("#Div_All_His_Dept_wise").empty();
        $("#Div_All_His_Dept_wise").append('<div class="loading_partial"></div>');
        $("#h4title").text("Showing All History (Department Wise)");
        $("#Div_All_His_Dept_wise").load('@Url.Action("_InventoryItemDispatchDeptWise", "StoreProduct")');
        days = 0;
    });
</script>