@model IEnumerable<FactoryManagement.ModelView.CRM.Client_Vehicle_ListsModelView>

<div class="row"> 
    <div class="col-xs-12" style="display:none;" id="DivForVehicleList">
        <table class="table table-bordered" style="margin-bottom:0px!important;margin-top:10px!important;border-bottom:none!important;">
            <tr>
                <td colspan="6">
                    <span class="col-sm-9" style="padding-left:0px!important;">
                        <span class="autocomplete-wrapper">
                            <input class="text-field" id="autocomplete" name="country" placeholder="Start typing vehicle name" type="text" autocomplete="off">
                            <span class="k-icon k-i-search" style="margin-top:-25px;margin-right:10px;float:right;">&nbsp;</span>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
        <table class="table table-bordered tableForVehicleList">
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="loading" style="display:none"></div>
<script id="temp_win_vehicle_list" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px">Are you sure you want to delete this vehicle ? </p>
        <div style="text-align: right;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_editUnit_ok"><span class="k-icon k-update"></span>OK</button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_editUnit_cancel"><span class="k-icon k-cancel"></span>Cancel</button>
        </div>
    </div>
</script>

<script>
    var showCount = 20, inCallback = false;
    var page = 0;
    var content = '';
    var clientTypeId;
    var VehicleId;
    $(document).ready(function () {
        $("#liForCRM").addClass('active');
        $("#liForVendorList").addClass('sublistActive');
        $("table.tableForVehicleList > tbody").load('@Url.Action("_DisplayVehicleList", "CRMClient")');
        $("#divForLoading").hide();
        $("#DivForVehicleList").show();
    });

    $(window).scroll(function () {
        var totalCount = '@ViewBag.TotalVehicle';
        if ($(window).scrollTop() >= $(document).height() - $(window).height() - 300) {
            if (parseInt(showCount) < parseInt(totalCount)) {
                if (page > -1 && !inCallback) {
                    $("#loading").show();
                    inCallback = true;
                    page++;
                    $.ajax({
                        type: 'GET',
                        url: '/CRMClient/GetVehicleList',
                        data: { page: page },
                     success: function (data) {
                         var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                         if (data != '') {
                              for (var i = 0; i < data.length; i++) {
                                    var date = new Date(data[i].CreatedDate);
                                    var getdate = (monthNames[date.getMonth()]) + " " + date.getDate() + "," + date.getFullYear();
                                    $("table.tableForVehicleList > tbody").append('<tr id="tr_vehicle_' + data[i].VehicleId + '"><th scope="row">' + parseInt(showCount + 1) + '</th><td>' +
                                        data[i].VehicleName + '</td>' +
                                        '<td>' + data[i].Designation + '</td><td>' +
                                        '<a href="#" id="VehicleDetailsEdit" class="VehicleDetailsEdit" data-vehicleid="' + data[i].VehicleId + '">' +
                                        '<span class="fa fa-pencil"></span>' + '</a>' + ' ' +
                                        '<a class="fa fa-trash deleteVehicle" data-vehicleid="' + data[i].VehicleId + '"></a>' + '</a></td></tr>');
                                }
                                showCount = (page + 1) * 20;
                         }
                            else {
                                page = -1;
                            }
                            inCallback = false;
                            $("#loading").hide();
                    },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(error);
                        }
                    });

                }
            }
        }
    });
    $(function () {
        $("#autocomplete").autocomplete({
            minLength: 0,
            source: function (request, response) {
                content = $.trim(request.term);
                $.ajax({
                    url: '@Url.Action("SearchVehicleList", "CRMClient")',
                    type: "POST",
                    dataType: "json",
                    data: { prefix: content },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.VehicleName, value: item.VehicleName, id: item.VehicleId };
                        }))
                    }
                })
            },
            minLength: 1,
            select: function (event, ui) {
                isloadFirstTime = true;
                var selectTextId = ui.item.id;
                $("table.tableForVehicleList > tbody").load('@Url.Action("_DisplayVehicleList", "CRMClient")?VehicleId=' + selectTextId);
            },
        })
    .keyup(function () {
        if ($.trim($("#autocomplete").val()) == "") {
            showCount = 20; page = 0;
            $("table.tableForVehicleList > tbody").load('@Url.Action("_DisplayVehicleList", "CRMClient")');
        }
    })
    .autocomplete("instance")._renderItem = function (ul, item) {
        var term = $.trim(this.term);

        var re = new RegExp("(" + term + ")", "gi"),
                   cls = "bold-text",
                   template = "<span class='" + cls + "'>$1</span>",
                   label = item.label.replace(re, template),
                   $li = $("<li/>").appendTo(ul);
        $("<a/>").attr("href", "#")
                 .html(label)
                 .appendTo($li);
        return $li;
    };
    });

    $(document).on("click", ".deleteVehicle", function (e) {
        e.preventDefault();
        VehicleId = $(this).data('vehicleid');
        var kendoWindow = $("<div />").kendoWindow({
            actions: ["Close"],
            title: "Alert",
            resizable: false,
            width: "30%",
            modal: true
        });
        var template = kendo.template($("#temp_win_vehicle_list").html());
        kendoWindow.data("kendoWindow").content(template).center().open();

        kendoWindow.find("#btn_editUnit_cancel").click(function () {
            kendoWindow.data("kendoWindow").close();
        }).end();
        kendoWindow.find("#btn_editUnit_ok").click(function () {
            kendoWindow.data("kendoWindow").close();
            deleteVehicle();
        }).end();
    });
    function deleteVehicle() {
        notification.show({ message: "Vehicle inforamtion updating...", showTime: startTime() }, "upload-progress");
        $.ajax({
            url: '@Url.Action("DeleteVehicle", "CRMClient")',
            type: 'Post',
            data: { VehicleId: VehicleId },
            success: function (Id) {
                notification.hide();
                notification.setOptions({
                    autoHideAfter: 2000
                });
                if (Id != null) {
                    notification.show({
                        message: "Vehicle successfully deleted", showTime: startTime(),
                    }, "upload-success");
                    $("#tr_vehicle_" + VehicleId).remove();
                    $("#divForVehicleList").load('@Url.Action("VehicleList", "CRMClient")?Id=' + Id);
                    $("#divForVehicleList").show();
                }
                else {
                    notification.show({
                        message: "Deletion unsuccessful", showTime: startTime(),
                    }, "upload-error");
                }
            }
        });
    };
</script>



